.app-content-body {
    float: left;
    width: 100%;
    padding-bottom: 0px;
}
.hbox {
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;
}
.hbox .col {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
}
.bg-light.lter, .bg-light .lter {
    background-color: #f6f8f8;
    
}
.b-b {
    border-bottom: 0px solid #dee5e7;
}
.wrapper-md {
    padding: 20px;
    
}
.bg-light {
    color: #58666e;
    
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    
}

.col-md-12 {
    width: 100%;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
    margin-top: 3%;
    margin-bottom: 0%;
    
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.block.clearfix {
    clear: both;
}
.block {
    display: block;
}
.m-n {
    margin: 0!important;
}
.h3, h3 {
    font-size: 20px;
   
    
}
.panel-default {
    border-color: #dee5e7;
}
.panel {
    border-radius: 2px;
}
.panel-body {
    padding: 15px;
}
.profile-cover {
    position: relative;
}
.profile-cover {
    
    width: 100%;
    margin-top: -170px;
}
.panel {
    margin-bottom: 5px;
    background-color: #fff;
    border: 0px solid transparent;
    
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.profile-img{
    text-align: left;
    padding:100px 5px 10px 75px;
}
.profile-img img{
    width: 70%;
    height: 70%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    text-align: Center;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
    color:white;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    
}
.col-md-6 .profile-head h5{
    color: #333;
    font-size: 30px;
    margin-top: 100px;
}
.col-md-6 .profile-head h6{
    color: #0062cc;
    font-size: 18px;
    
    
}

.col-md-6 .profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 50%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    
}


.proile-status{
    font-size: 16px;
    color: #818182;
    margin-top: 5%;
}
.proile-status span{
    color: #495057;
    font-size: 16px;
    font-weight: 600;
}
#tab1 #tab2
{
    display:inline;
}
.panel>.table-responsive {
    margin-bottom: 0;
    border: 0;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.panel>.table-responsive:last-child>.table:last-child, .panel>.table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel>.table-responsive:first-child>.table:first-child, .panel>.table:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel>.panel-collapse>.table, .panel>.table, .panel>.table-responsive>.table {
    margin-bottom: 0;
}
.table-responsive table {
    border: 0px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    
}
table
{
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.afl_enrolment_details .table>tbody>tr>th, .afl_enrolment_details .table>tfoot>tr>th, .table>tbody>tr>td, .afl_enrolment_details .table>tfoot>tr>td {
    border: none;
}
.table>tbody>tr>th, .table>tfoot>tr>th, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px 15px;
   
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    
    line-height: 1.42857143;
    vertical-align: top;
    
}
.table-responsive tbody th, .table-responsive tbody td {
    
    text-align: left;
    border: solid 0px #ccc!important;
    font-size: 14px;
    color: #3f4454;
    font-family: Arial, 'Roboto',sans-serif;
}
.table-responsive tbody td 
{
    color:#1a53ff;
    font-weight: bold;
}
.table-responsive tbody td a
{
    color:#1a53ff;
    font-weight: bold;
}
.profile-work p
{
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    color:#818182;
}
.profile-work a
{
    padding-left: 75px;
    font-family: Arial, 'Roboto',sans-serif;
    color:rgb(53, 50, 50);
    
}


