<div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="col">
            <div class="bg-light lter b-b wrapper-md">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <h1 class="m-n h3">Profile</h1>
                    </div>
    
                </div>
            </div>
            <div class="wrapper-md user-profile-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="region region-content">
                            <div id="block-system-main" class="block block-system clearfix">
                                <div class="profile">
                                </div>
                                <div class="view view-user-profile view-id-user_profile view-display-id-block dash-content-inner view-dom-id-830e03c323a224693cc5207dedb9ded7">
                                    <div class="view-content">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="row-main clearfix">
                                                    <div class="field-content profile-section">
                                                        <div class="profile-cover">
                                                            <form method="post">
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="profile-img">
                                                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                                                                            <div class="file btn btn-lg btn-primary">
                                                                                Change Photo<input type="file" name="file"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="profile-head">
                                                                                    <h5>Ankitha</h5>
                                                                                    <!-- <h6>Web Developer and Designer</h6> -->
                                                                                    <p class="proile-status">Status: <span>Active</span></p>
                                                                                    <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                                                                        </div>
                                                                    </div><br><br>
                                                                    
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="profile-work">
                                                                            
                                                                            
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 mb-4">
                                                                        <tabset class="tab">
                                                                            <tab heading="About" class="tab1">
                                                                                <div class="view-content">
                                                                                    <div class="panel panel-default">
                                                                                    <div class="table-responsive">
                                                                                    <table class="views-table cols-7 table">
                                                                                    
                                                                                    <tbody>
                                                                                    
                                                                                    <tr class="views-field views-field-field-afl-first-name views-column-odd views-column-first views-column-last">
                                                                                    <th class="views-field views-field-field-afl-first-name">
                                                                                     </th>
                                                                                    <td class="views-field views-field-field-afl-first-name views-column-odd views-column-first views-column-last">
                                                                                     </td>
                                                                                    </tr>
                                                                                    <tr class="views-field views-field-mail views-column-odd views-column-first views-column-last">
                                                                                    <th class="views-field views-field-mail">
                                                                                    E-mail </th>
                                                                                    <td class="views-field views-field-mail views-column-odd views-column-first views-column-last">
                                                                                    <a href="mailto:sales@epixelsolutions.com">ankitha@gmail.com</a> </td>
                                                                                    </tr>
                                                                                    <tr class="views-field views-field-field-mobile-number views-column-odd views-column-first views-column-last">
                                                                                    <th class="views-field views-field-field-mobile-number">
                                                                                    Mobile Number </th>
                                                                                    <td class="views-field views-field-field-mobile-number views-column-odd views-column-first views-column-last">
                                                                                    1882534898 </td>
                                                                                    </tr>
                                                                                    <tr class="views-field views-field-field-afl-sponsor views-column-odd views-column-first views-column-last">
                                                                                    <th class="views-field views-field-field-afl-sponsor">
                                                                                    Sponser Name </th>
                                                                                    <td class="views-field views-field-field-afl-sponsor views-column-odd views-column-first views-column-last">Oxford
                                                                                    </td>
                                                                                    </tr>
                                                                                    <tr class="views-field views-field-field-afl-sponsor views-column-odd views-column-first views-column-last">
                                                                                    <th class="views-field views-field-field-afl-sponsor">
                                                                                    Emergency Contact Number </th>
                                                                                    <td class="views-field views-field-field-afl-sponsor views-column-odd views-column-first views-column-last">9043216785
                                                                                    </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                    </table>
                                                                                    </div>
                                                                                    </div>
                                                                                    </div>
                                                                            </tab>
                                                                            
                                                                        </tabset>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                
                                            </div>  
                                        </div>                    
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>
