<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
    
    <!-- <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-sm-12 col-xs-12">
    <h1 class="m-n h3">Member E-Wallet Balance</h1>
    <small class="text-muted"></small>
    </div> -->
    
    </div>
    </div>
    
    
    <div class="wrapper-md ">
    
    
    
    
    
    <div class="row">
    <div class="col-md-12">
    <div class="region region-content">
    <div id="block-system-main" class="block block-system clearfix">
    <div class="view view-members-and-funds view-id-members_and_funds view-display-id-page view-dom-id-b24e94d969c92a0cddf3ec326a402795">
    <div class="view-filters">
    <form action="/afl-admin/members-and-funds" method="get" id="views-exposed-form-members-and-funds-page" accept-charset="UTF-8"><div class="from-panel"><div class="views-exposed-form form-inline">
    <div class="views-exposed-widgets clearfix">
    <div id="edit-uid-raw-1-wrapper" class="views-exposed-widget views-widget-filter-uid_raw_1 form-group">
    <label for="edit-uid-raw-1">
    User Id </label>
    <div class="views-widget">
    <div class="form-item clearfix form-type-textfield form-item-uid-raw-1 form-group">
    <input type="text" id="edit-uid-raw-1" name="uid_raw_1" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
    </div>
    </div>
    </div>
    <div id="edit-field-afl-first-name-value-wrapper" class="views-exposed-widget views-widget-filter-field_afl_first_name_value form-group">
    <label for="edit-field-afl-first-name-value">
    First Name </label>
    <div class="views-widget">
    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-value form-group">
    <input type="text" id="edit-field-afl-first-name-value" name="field_afl_first_name_value" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
    </div>
    </div>
    </div>
    <div id="edit-field-afl-surname-value-wrapper" class="views-exposed-widget views-widget-filter-field_afl_surname_value form-group">
    <label for="edit-field-afl-surname-value">
    Surname </label>
    <div class="views-widget">
    <div class="form-item clearfix form-type-textfield form-item-field-afl-surname-value form-group">
    <input type="text" id="edit-field-afl-surname-value" name="field_afl_surname_value" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
    </div>
    </div>
    </div>
    <div id="edit-mail-wrapper" class="views-exposed-widget views-widget-filter-mail form-group">
    <label for="edit-mail">
    Mail </label>
    <div class="views-widget">
    <div class="form-item clearfix form-type-textfield form-item-mail form-group">
    <input type="text" id="edit-mail" name="mail" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
    </div>
    </div>
    </div>
    <div id="edit-uid-wrapper" class="views-exposed-widget views-widget-filter-uid form-group">
    <label for="edit-uid">
    Username </label>
    <div class="views-widget">
    <div class="form-item form-autocomplete clearfix form-type-textfield form-item-uid form-group" data-toggle="tooltip" title="Enter a comma separated list of user names.">
    <input type="text" id="edit-uid" name="uid" value="" size="60" maxlength="128" class="form-text form-control input-lg-3 form-autocomplete" /><span class="fa fa-refresh form-control-feedback" aria-hidden="true"></span><input type="hidden" id="edit-uid-autocomplete" value="https://matrix.epixelmlmsoftware.com/admin/views/ajax/autocomplete/user" disabled="disabled" class="autocomplete" />
    </div>
    </div>
    </div>
    <div class="views-exposed-widget views-submit-button form-group m-t-22">
    <input type="submit" id="edit-submit-members-and-funds" name="" value="Search" class="form-submit btn btn-default btn-primary" /> <input type="submit" id="edit-reset" name="op" value="Clear" class="form-submit btn btn-default btn-primary" /> </div>
    </div>
    </div>
    </div></form> </div>
    <div class="view-content">
    <div class="panel panel-default">
    <div class="table-responsive">
    <table class="views-table cols-5 table">
    <thead>
    <tr>
    <th class="views-field views-field-counter">
    # </th>
    <th class="views-field views-field-uid">
    Member </th>
    <th class="views-field views-field-field-afl-parent">
    Parent </th>
    <th class="views-field views-field-field-afl-sponsor">
    Sponsor </th>
    <th class="views-field views-field-php-1">
    E-Wallet Balance </th>
    </tr>
    </thead>
    <tbody>

    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div> 
    </div>
    </div>
    </div>