<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <div class="col">

                <div class="wrapper-md ">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <tabset>
                                    <tab heading="Downline-members" id="tab1">
                                        <div class="region region-content">
                                            <div id="block-system-main" class="block block-system clearfix">
                                                <div class="view view-down-line-members view-id-down_line_members view-display-id-page view-dom-id-70b59c1c0ebdb1eeac7f3181434cd2a7">
                                                    <div class="view-filters">
                                                        <form action="/afl/down-line-members" method="get" id="views-exposed-form-down-line-members-page" accept-charset="UTF-8">
                                                            <div class="from-panel">
                                                                <div class="views-exposed-form form-inline">
                                                                    <div class="views-exposed-widgets clearfix">
                                                                        <div id="edit-downline-user-id-wrapper" class="views-exposed-widget views-widget-filter-downline_user_id form-group">
                                                                            <label for="edit-downline-user-id">
                                     Member Id </label>
                                                                            <div class="views-widget">
                                                                                <div class="form-item clearfix form-type-textfield form-item-downline-user-id form-group">
                                                                                    <input type="text" id="edit-downline-user-id" name="downline_user_id" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div id="edit-level-wrapper" class="views-exposed-widget views-widget-filter-level form-group">
                                                                            <label for="edit-level">
                                           Level </label>
                                                                            <div class="views-widget">
                                                                                <div class="form-item clearfix form-type-select form-item-level form-group">
                                                                                    <select id="edit-level" name="level" class="form-select form-control"></select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="views-exposed-widget views-submit-button form-group m-t-22">
                                                                            <input type="submit" id="edit-submit-down-line-members" name="" value="Search" class="form-submit btn btn-default btn-primary" /> <input type="submit" id="edit-reset" name="op"
                                                                                value="Clear" class="form-submit btn btn-default btn-primary" /> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="view-content">
                                                        <div class="panel panel-default">
                                                            <div class="table-responsive">
                                                                <table class="views-table cols-6 table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="views-field views-field-counter">
                                                                                # </th>
                                                                            <th class="views-field views-field-name">
                                                                                Member </th>
                                                                            <th class="views-field views-field-level">
                                                                                Joined Level </th>
                                                                            <th class="views-field views-field-php-1">
                                                                                Sponser Name </th>
                                                                            <th class="views-field views-field-created">
                                                                                Joined date </th>
                                                                            <th class="views-field views-field-php">
                                                                                Autopool Level </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="Add new member">
                                        <div class="region region-content">
                                            <div id="block-system-main" class="block block-system clearfix">
                                                <form (ngSubmit)="pushMember()">
                                                    <div class="from-panel">
                                                        <div id="checkboxes-div">
                                                            <fieldset class="form-wrapper" id="edit-transaction-authorization-form">
                                                                <legend><span class="fieldset-legend">New Members Registration Form</span></legend>
                                                                <div class="fieldset-wrapper">
                                                                    <div class="field-type-list-text field-name-field-country field-widget-options-select form-wrapper" id="edit-field-country">
                                                                        <div class="form-item clearfix form-type-select form-item-field-country-und form-group2">
                                                                            <label for="edit-field-country-und">Country <span class="form-required" title="This field is required.">*</span></label>
                                                                            <select [(ngModel)]="model.Country" id="edit-field-country-und" name="field_country[und]" class="form-select form-control required">
                                                                                <option value="India">India</option>
                                                                                <option value="USA">USA</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-und-0-value form-group2" data-toggle="tooltip" title="Please provide your first name.">
                                                                        <label for="edit-field-afl-first-name-und-0-value">First Name <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="text-full form-text form-control input-lg-3 required" [(ngModel)]="model.First_Name" type="text" id="edit-field-afl-first-name-und-0-value" name="field_afl_first_name" size="60" maxlength="255" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-surname-und-0-value form-group2" data-toggle="tooltip" title="Please provide your surname">
                                                                        <label for="edit-field-afl-surname-und-0-value">Surname <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="text-full form-text form-control input-lg-3 required" [(ngModel)]="model.Surname" type="text" id="edit-field-afl-surname-und-0-value" name="field_afl_surname" value="" size="60" maxlength="255" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-name form-group2" data-toggle="tooltip">
                                                                        <label for="edit-name">Username <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="username form-text form-control input-lg-3 required" [(ngModel)]="model.Username" type="text" id="edit-name" name="name" value="" size="60" maxlength="60" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-mail form-group2" data-toggle="tooltip">
                                                                        <label for="edit-mail">E-mail address <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input type="text" id="edit-mail" name="mail" value="" size="60" [(ngModel)]="model.Email_Address" maxlength="254" class="form-text form-control input-lg-3 required" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-und-0-value form-group2" data-toggle="tooltip" title="Please provide your date of joining.">
                                                                        <label for="edit-field-afl-date-of-joining-und-0-value"> Date of Joining <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input type="text" placeholder="" class="form-control" bsDatepicker>
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-und-0-value form-group2" data-toggle="tooltip" title="Please provide your date of birth.">
                                                                        <label for="edit-field-afl-date-of-birth-und-0-value"> Date of Birth <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input type="text" placeholder="" class="form-control" bsDatepicker>
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-password form-item-pass-pass1 form-group2">
                                                                        <label for="edit-pass-pass1">Password <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="password-field form-text form-control required" [(ngModel)]="model.Password" type="password" id="edit-pass-pass1" name="pass[pass1]" size="25" maxlength="128" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-password form-item-pass-pass2 form-group2">
                                                                        <label for="edit-pass-pass2">Confirm password <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="password-confirm form-text form-control required" [(ngModel)]="model.Confirm_Password" type="password" id="edit-pass-pass2" name="pass[pass2]" size="25" maxlength="128" />
                                                                    </div>
                                                                    <div class="field-type-entityreference field-name-field-afl-parent field-widget-entityreference-autocomplete form-wrapper" id="edit-field-afl-parent">
                                                                        <div id="field-afl-parent-add-more-wrapper"></div>
                                                                    </div>
                                                                    <div class="field-type-entityreference field-name-field-afl-sponsor field-widget-entityreference-autocomplete form-wrapper" id="edit-field-afl-sponsor">
                                                                        <div id="field-afl-sponsor-add-more-wrapper">
                                                                            <div class="form-item form-autocomplete clearfix form-type-textfield form-item-field-afl-sponsor-und-0-target-id form-group2" data-toggle="tooltip" title="Please select the Sponsor user">
                                                                                <label for="edit-field-afl-sponsor-und-0-target-id">Sponsor <span class="form-required" title="This field is required.">*</span></label>
                                                                                <input type="text" id="edit-field-afl-sponsor-und-0-target-id" [(ngModel)]="model.Sponsor" name="field_afl_sponsor[und][0][target_id]" value="" size="60" maxlength="1024" class="form-text form-control input-lg-3 required form-autocomplete" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-und-0-value form-group2" data-toggle="tooltip" title="Please provide your nominee name.">
                                                                        <label for="edit-field-afl-nominee-name-und-0-value"> Name of the Nominee (optional) <span class="form-required" title="This field is required."></span></label>
                                                                        <input class="text-full form-text form-control input-lg-3 required" [(ngModel)]="model.Name_of_Nominee" type="text" id="edit-field-afl-first-name-und-0-value" name="Name_of_Nominee" value="" size="60" maxlength="255" />
                                                                    </div>
                                                                    <div class="field-type-text field-name-field-mobile-number field-widget-text-textfield form-wrapper" id="edit-field-mobile-number">
                                                                        <div id="field-mobile-number-add-more-wrapper">
                                                                            <div class="form-item clearfix form-type-textfield form-item-field-mobile-number-und-0-value form-group2">
                                                                                <label for="edit-field-mobile-number-und-0-value">Mobile Number </label>
                                                                                <input class="text-full form-text form-control input-lg-3" [(ngModel)]="model.Mobile_Number" type="text" id="edit-field-mobile-number-und-0-value" name="field_mobile_number" value="" size="60" maxlength="255" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-address-und-0-value form-group2" data-toggle="tooltip" title="Please provide your address.">
                                                                        <label for="edit-field-afl-address-und-0-value">Address <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="text-full form-text form-control input-lg-3 required" [(ngModel)]="model.address" type="text" id="edit-field-afl-address-und-0-value" name="address" value="" size="60" maxlength="255" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-und-0-value form-group2" data-toggle="tooltip" title="Please provide your pan card number.">
                                                                        <label for="edit-field-afl-pan-number-und-0-value"> Pan Card Number<span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="text-full form-text form-control input-lg-3 required" [(ngModel)]="model.Pan_Card_Number" type="text" id="edit-field-afl-first-name-und-0-value" name="Pan_Card_Number" value="" size="60" maxlength="255" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-und-0-value form-group2" data-toggle="tooltip" title="Please provide your aadhar-number.">
                                                                        <label for="edit-field-afl-aadhar-number-und-0-value"> Aadhar number <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="text-full form-text form-control input-lg-3 required" [(ngModel)]="model.Aadhaar_Number" type="text" id="edit-field-afl-first-name-und-0-value" name="Aadhaar_Number" value="" size="60" maxlength="255" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-und-0-value form-group2" data-toggle="tooltip" title="Please provide your bank name.">
                                                                        <label for="edit-field-afl-bank-name-und-0-value">Bank Name <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="text-full form-text form-control input-lg-3 required" [(ngModel)]="model.Bank_Name" type="text" id="edit-field-afl-first-name-und-0-value" name="Bank_Name" value="" size="60" maxlength="255" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-und-0-value form-group2" data-toggle="tooltip" title="Please provide your bank ifsc code.">
                                                                        <label for="edit-field-afl-Ifsc-code-und-0-value"> IFSC code <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="text-full form-text form-control input-lg-3 required" [(ngModel)]="model.IFSC_Code" type="text" id="edit-field-afl-first-name-und-0-value" name="IFSC_Code" value="" size="60" maxlength="255" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-und-0-value form-group2" data-toggle="tooltip" title="Please provide your bank account number.">
                                                                        <label for="edit-field-afl-bank-account-number-und-0-value"> Bank Account Number <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="text-full form-text form-control input-lg-3 required" [(ngModel)]="model.Bank_Account_Number" type="text" id="edit-field-afl-first-name-und-0-value" name="Bank_Account_Number" value="" size="60" maxlength="255" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-und-0-value form-group2" data-toggle="tooltip" title="Please provide your bank account number.">
                                                                        <label for="edit-field-afl-bank-account-number-und-0-value"> RefId <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="text-full form-text form-control input-lg-3 required" [(ngModel)]="model.RefId" type="text" id="edit-field-afl-first-name-und-0-value" name="RefId" value="" size="60" maxlength="255" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-und-0-value form-group2" data-toggle="tooltip" title="Please provide your bank account number.">
                                                                        <label for="edit-field-afl-bank-account-number-und-0-value"> Plot Sqyds <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="text-full form-text form-control input-lg-3 required" [(ngModel)]="model.plot_sqyds" type="text" id="edit-field-afl-first-name-und-0-value" name="plot_sqyds" value="" size="60" maxlength="255" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-und-0-value form-group2" data-toggle="tooltip" title="Please provide your bank account number.">
                                                                        <label for="edit-field-afl-bank-account-number-und-0-value"> No Of Plots <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="text-full form-text form-control input-lg-3 required" [(ngModel)]="model.no_of_plots" type="text" id="edit-field-afl-first-name-und-0-value" name="no_of_plots" value="" size="60" maxlength="255" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-und-0-value form-group2" data-toggle="tooltip" title="Please provide your bank account number.">
                                                                        <label for="edit-field-afl-bank-account-number-und-0-value"> Rate Per Plot <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="text-full form-text form-control input-lg-3 required" [(ngModel)]="model.rate_per_plot" type="text" id="edit-field-afl-first-name-und-0-value" name="rate_per_plot" value="" size="60" maxlength="255" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-und-0-value form-group2" data-toggle="tooltip" title="Please provide your bank account number.">
                                                                        <label for="edit-field-afl-bank-account-number-und-0-value"> Upgrade Amount Paid <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input class="text-full form-text form-control input-lg-3 required" [(ngModel)]="model.UpgradeAmountPaid" type="text" id="edit-field-afl-first-name-und-0-value" name="UpgradeAmountPaid" value="" size="60" maxlength="255" />
                                                                    </div>
                                                                    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-und-0-value form-group2" data-toggle="tooltip" title="Please provide your bank account number.">
                                                                        <label for="edit-field-afl-bank-account-number-und-0-value"> Is Opting for Star1 Autopool <span class="form-required" title="This field is required.">*</span></label>
                                                                        <input type="checkbox" class="text-full form-text form-control input-lg-3 required" [(ngModel)]="model.IsOptingforStar1Autopool" id="edit-field-afl-first-name-und-0-value" name="IsOptingforStar1Autopool" value="" size="60" maxlength="255" />
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <button type='submit' class="btn btn-primary">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </tab>

                                </tabset>
                            </div>
                        </div>
                    </div>
                </div>