<div id="sidebar-nav" class="sidebar">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 95%;"><div class="sidebar-scroll" style="overflow: hidden; width: auto; height: 95%;">
        <nav>
            <ul class="nav">
                <li><a routerLink="/dashboard" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                <li>
                    <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="fa fa-drivers-license"></i> <span>Profile</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages" class="collapse ">
                        <ul class="nav">
                            <li><a href="" class="">Personal Details</a></li>
                            <li><a href="" class="">Account Details</a></li>
                            <li><a href="" class="">Document Verification</a></li>
                            <li><a href="" class="">Change Password</a></li>
                            <li><a href="" class="">Set Transaction Password</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#Users" data-toggle="collapse" class="collapsed"><i class="fa fa-users"></i> <span>Users</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="Users" class="collapse ">
                        <ul class="nav">
                            <li><a href="" class="">Level Tree</a></li>
                            <li><a href="" class="">Unactive Users</a></li>
                            <li><a href="" class="">Active Users</a></li>
                        </ul>
                    </div>
                </li>
                <li><a  ><i class="fa fa-key"></i> <span>Pins</span></a></li>
                <li><a  ><i class="fa fa-dollar"></i> <span>Add More DP</span></a></li>
                <li><a  ><i class="fa fa-money"></i> <span>Withdrawal in Bank</span></a></li>
                <li>
                    <a href="#Account" data-toggle="collapse" class="collapsed"><i class="fa fa-gg"></i> <span>Account</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="Account" class="collapse ">
                        <ul class="nav">
                            <li><a href="" class="">Transfer DP</a></li>
                            <li><a href="" class="">Buy PV Mynt</a></li>
                            <li><a href="" class="">Sell PV Mynt</a></li>
                        </ul>
                    </div>
                </li>
                <li><a  ><i class="fa fa-book"></i> <span>My Passbook</span></a></li>
                <li><a  ><i class="fa fa-envelope"></i> <span>Invite Your Contact</span></a></li>
            </ul>
        </nav>
    </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 179.181px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
</div>