
	<div class="statement"><br><br><br>
        <table style="width:50%;margin-left: 50px;text-align:center">
            <thead>
            <tr>
                <th>Date</th>
                <th>No.</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Payment</th>
                <th>Remaining</th>
            </tr>
        </thead>
    </table>
    <div class="account"><br>
    <label style="margin-left:50px">5-07-20</label>
    <label style="margin-left:10px">SD0072</label>
    <label style="margin-left:45px">sale</label>
    <label style="margin-left:120px">$250.00</label>
    <label style="margin-left:205px">$360.00</label>
    </div>
    <div class="account"><br>
    <label style="margin-left:45px">15-07-20</label>
    <label style="margin-left:10px">SD0093</label>
    <label style="margin-left:40px">sale</label>
    <label style="margin-left:120px">$400.00</label>
    <label style="margin-left:210px">$860.00</label>
    </div>
    <div class="account"><br>
    <label style="margin-left:45px">25-07-20</label>
    <label style="margin-left:10px">DC18</label>
    <label style="margin-left:55px">Payment</label>
    <label style="margin-left:220px">$100.00</label>
    <label style="margin-left:80px">$750.00</label>
    </div>
    <div class="account"><br>
    <label style="margin-left:45px">29-07-20</label>
    <label style="margin-left:10px">CG0010</label>
    <label style="margin-left:38px">Credit</label>
    <label style="margin-left:105px">$50.00</label>
    <label style="margin-left:222px">$700.00</label>
    </div><br><br><br>
    <div class="account">
    <label style="margin-left:500px">Subtotal</label>
    <label style="margin-left:80px">$700.00</label>
    </div>
    <div class="account"><br>
    <label style="margin-left:60px">Thank you for your business</label>
    <label style="margin-left:250px">Interest</label>
    <label style="margin-left:84px">$5.75</label>
    </div><br>
    <table style="background-color: white;margin-left: 500px;width:200px;">
        <tr>
            <td><label>Total due</label>
                <label style="margin-left: 70px">$705.75</label>
            </td>
        </tr>
    </table>
    <br>
    
    <label style="margin-left:60px">Payment day by May 25,2012</label><br><br>
    <label style="margin-left:60px">Please make payment into Bank Account No.</label><br><br>
    <label style="margin-left:60px">Interest of 10% per annum will be charged on late payments</label>
    </div>
    
    
