table, th, td {
    border: 1px solid black;
  }
  table{
      border-collapse: collapse;
      background-color: lightblue;
  }
  element.style {
    /* margin-left: 50px; */
    padding-left: 60px;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
*, *::before, *::after {
    box-sizing: border-box;
}