
<!-- <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-sm-12 col-xs-12">
    <h1 class="m-n h3">All Members List</h1>
    <small class="text-muted"></small>
    </div>
    
    </div>
    </div> -->
    
    
    <div class="wrapper-md ">
    
  
    
    
    <div class="row">
    <div class="col-md-12">
    <div class="region region-content">
    <div id="block-system-main" class="block block-system clearfix">
    <div class="view view-manage-members view-id-manage_members view-display-id-page view-dom-id-9c7a613581257f299f8e8ef3797ec6b6">
    <div class="view-filters">
    <form action="/afl-admin/manage-members" method="get" id="views-exposed-form-manage-members-page" accept-charset="UTF-8"><div class="from-panel"><div class="views-exposed-form form-inline">
    <div class="views-exposed-widgets clearfix">
    <div id="edit-uid-raw-1-wrapper" class="views-exposed-widget views-widget-filter-uid_raw_1 form-group">
    <label for="edit-uid-raw-1">
    User Id </label>
    <div class="views-widget">
    <div class="form-item clearfix form-type-textfield form-item-uid-raw-1 form-group">
    <input type="text" id="edit-uid-raw-1" name="uid_raw_1" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
    </div>
    </div>
    </div>
    <div id="edit-field-afl-first-name-value-wrapper" class="views-exposed-widget views-widget-filter-field_afl_first_name_value form-group">
    <label for="edit-field-afl-first-name-value">
    First Name 
</label>
    <div class="views-widget">
    <div class="form-item clearfix form-type-textfield form-item-field-afl-first-name-value form-group">
    <input type="text" id="edit-field-afl-first-name-value" name="field_afl_first_name_value" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
    </div>
    </div>
    </div>
    <div id="edit-field-afl-surname-value-wrapper" class="views-exposed-widget views-widget-filter-field_afl_surname_value form-group">
    <label for="edit-field-afl-surname-value">
    Surname </label>
    <div class="views-widget">
    <div class="form-item clearfix form-type-textfield form-item-field-afl-surname-value form-group">
    <input type="text" id="edit-field-afl-surname-value" name="field_afl_surname_value" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
    </div>
    </div>
    </div>
    <div id="edit-mail-wrapper" class="views-exposed-widget views-widget-filter-mail form-group">
    <label for="edit-mail">
    Level </label>
    <div class="views-widget">
    <div class="form-item clearfix form-type-textfield form-item-mail form-group">
    <input type="text" id="edit-mail" name="mail" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
    </div>
    </div>
    </div>
    <div id="edit-uid-wrapper" class="views-exposed-widget views-widget-filter-uid form-group">
    <label for="edit-uid">
    Auto Pool level </label>
    <div class="views-widget">
    <div class="form-item form-autocomplete clearfix form-type-textfield form-item-uid form-group" data-toggle="tooltip" title="Enter a comma separated list of user names.">
    <input type="text" id="edit-uid" name="uid" value="" size="60" maxlength="128" class="form-text form-control input-lg-3 form-autocomplete" /><span class="fa fa-refresh form-control-feedback" aria-hidden="true"></span><input type="hidden" id="edit-uid-autocomplete" value="https://matrix.epixelmlmsoftware.com/admin/views/ajax/autocomplete/user" disabled="disabled" class="autocomplete" />
    </div>
    </div>
    </div>
    <div class="views-exposed-widget views-submit-button form-group m-t-22">
    <input type="submit" id="edit-submit-manage-members" name="" value="Search" class="form-submit btn btn-default btn-primary" /> <input type="submit" id="edit-reset" name="op" value="Clear" class="form-submit btn btn-default btn-primary" /> </div>
    </div>
    </div>
    </div></form> </div>
    <div class="view-content">
    <div class="vbo-views-form"><form action="/afl-admin/manage-members" method="post" id="views-form-manage-members-page" accept-charset="UTF-8"><div class="from-panel"><input type="hidden" name="form_build_id" value="form--QtrpyATFC55n1sp5JS-wdFk1aNRltQwFAuZt5-wX2M" />
    <input type="hidden" name="form_token" value="UAYTayyB66VLRdKqNUAOy9VqyXrKwaLmDw-3sTpiXqc" />
    <input type="hidden" name="form_id" value="views_form_manage_members_page" />
    <input class="select-all-rows" type="hidden" name="select_all" value="" />
    <fieldset class="container-inline form-wrapper" id="edit-select"><legend><span class="fieldset-legend">Operations</span></legend><div class="fieldset-wrapper"></div></fieldset>
    <!-- <div class="vbo-table-select-all-markup"><span class="vbo-table-this-page">Selected <strong>25 rows</strong> in this page. &nbsp;<input class="vbo-table-select-all-pages form-submit btn btn-default btn-primary" type="submit" name="op" value="Select all 151 rows in this view." /></span><span class="vbo-table-all-pages" style="display: none">Selected <strong>151 rows</strong> in this view. &nbsp;<input class="vbo-table-select-this-page form-submit btn btn-default btn-primary" type="submit" name="op" value="Select only 25 rows in this page." /></span></div><div class="panel panel-default"> -->
    <div class="table-responsive">
    <table class="views-table cols-9 table">
    <thead>
    <tr>
    <th class="views-field views-field-views-bulk-operations-1">
    <div class="form-item clearfix form-type-checkbox">
    <label class="i-checks"><input class="vbo-table-select-all form-checkbox checkbox" type="checkbox" value="1" /><i></i></label>
    </div>
    </th>
    <th class="views-field views-field-counter">
    # </th>
    <th class="views-field views-field-uid">
    Member </th>
    <th class="views-field views-field-field-afl-parent">
    Parent </th>
    <th class="views-field views-field-field-afl-sponsor">
    Sponsor </th>
    <th class="views-field views-field-rid">
    Role(s) </th>
    <th class="views-field views-field-php">
    Member Status </th>
    <th class="views-field views-field-created">
    <a  title="sort by Registered On" class="active">Registered On</a> </th>
    <th class="views-field views-field-edit-node">
    Link to edit user </th>
    </tr>
    </thead>
