.app-content-body {
    float: left;
    width: 100%;
    padding-bottom: 50px;
}
.hbox {
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;
}
.hbox .col {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
}
.bg-light.lter, .bg-light .lter {
    background-color: #f6f8f8;
}
.b-b {
    border-bottom: 1px solid #dee5e7;
}
.wrapper-md {
    padding: 20px;
}
.bg-light {
    color: #58666e;
   
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.m-n {
    margin: 0!important;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
}
.h3, h3 {
    font-size: 24px;
}
.text-muted {
    color: #98a6ad;
}
small, .small {
    font-size: 13px;
}
.wrapper-md {
    padding: 20px;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.region.region-announcements {
    background-color: #c8edf4;
    color: #555;
    margin: 10px 30px;
    padding: 10px 30px;
}
.block.clearfix {
    clear: both;
}
.block {
    display: block;
}
p {
    margin: 0 0 10px;
}
.text-info {
    color: #23b7e5;
}
a {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
.col-md-12 {
    width: 100%;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.block.clearfix {
    clear: both;
}
.block {
    display: block;
}
body {
    font-family: source sans pro,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    color: #58666e;
    background-color: transparent;
}
form {
    display: block;
    margin-top: 0em;
}
form.node-form, form .from-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #dee5e7;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-color: #dee5e7;
    padding: 15px;
}
#panel-null .node-form, .from-panel {
    border: 0 solid;
    border-radius: 10px;
}
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
label {
    font-weight: 400;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.form-control, .form-control:focus {
    
    box-shadow: none;
}
.form-control {
    border-color: #cfdadd;
    border-radius: 2px;
}
.form-control {
    
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
button, input, select, textarea {
    font-family: inherit;
    
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    
}
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.m-t-22 {
    margin-top: 22px;
}
.view-filters .from-panel .form-inline .btn {
    margin-right: 0;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn-info {
    color: #fff!important;
    background-color: darkgreen;
    border-color: #23b7e5;
}
.btn-default {
    
    box-shadow: 0 1px 1px rgba(90,90,90,.1);
}
.btn {
    font-weight: 500;
    border-radius: 2px;
    outline: 0!important;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    
    touch-action: manipulation;
    
}
.panel-default {
    border-color: #dee5e7;
}
.panel {
    border-radius: 2px;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 0px solid transparent;
    
}
.panel>.table-responsive {
    margin-bottom: 0;
    border: 0;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.panel>.table-responsive:last-child>.table:last-child, .panel>.table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel>.table-responsive:first-child>.table:first-child, .panel>.table:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel>.panel-collapse>.table, .panel>.table, .panel>.table-responsive>.table {
    margin-bottom: 0;
}
.table-responsive table {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table-responsive table thead {
    background: #e5e5e5;
}
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child, .panel>.table:first-child>thead:first-child>tr:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child td:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child th:first-child, .panel>.table:first-child>thead:first-child>tr:first-child td:first-child, .panel>.table:first-child>thead:first-child>tr:first-child th:first-child {
    border-radius: 0;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
.table-responsive table thead th {
    font-weight: 700;
}
.table>thead>tr>th {
    padding: 8px 15px;
    border-bottom: 1px solid #eaeff0;
}
.table>thead>tr>th {
    vertical-align: bottom;
    
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    
    line-height: 1.42857143;
    
}
.table-responsive table th {
    
    text-align: center;
    border-right: solid 1px #cecece;
    
    font-size: 14px;
    color: #3f4454;
}
.afl_enrolment_details .table>tbody>tr>th, .afl_enrolment_details .table>tfoot>tr>th, .table>tbody>tr>td, .afl_enrolment_details .table>tfoot>tr>td {
    border: none;
}
table>tbody>tr>th, .table>tfoot>tr>th, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px 15px;
    
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    
    line-height: 1.42857143;
    vertical-align: top;
    
}
.table-responsive tbody th, .table-responsive tbody td {
    
    text-align: center;
    border-right: solid 1px #ccc!important;
    font-size: 14px;
    color: #3f4454;
    border-bottom: solid 1px #ccc!important;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child, .panel>.table:last-child>tbody:last-child>tr:last-child, .panel>.table:last-child>tfoot:last-child>tr:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child, .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child, .panel>.table:last-child>tbody:last-child>tr:last-child td:first-child, .panel>.table:last-child>tbody:last-child>tr:last-child th:first-child, .panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child, .panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child {
    border-bottom-left-radius: 3px;
}
.afl_enrolment_details .table>tbody>tr>th, .afl_enrolment_details .table>tfoot>tr>th, .table>tbody>tr>td, .afl_enrolment_details .table>tfoot>tr>td {
    border: none;
}

