<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
    
    <!-- <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-sm-12 col-xs-12">
    <h1 class="m-n h3">E-Pins List</h1>
    <small class="text-muted"></small>
    </div>
    
    </div>
    </div> -->
    
    
    <div class="wrapper-md ">
    
    
    
    
    <div class="row">
    <div class="col-md-12">
    <div class="region region-content">
    <div id="block-system-main" class="block block-system clearfix">
    <div class="view view-track-epin-admin view-id-track_epin_admin view-display-id-page view-dom-id-b8b6cdbd4568b730bdbc5ea8d072c971">
    <div class="view-filters">
    <form action="/afl/track-epin" method="get" id="views-exposed-form-track-epin-admin-page" accept-charset="UTF-8"><div class="from-panel"><div class="views-exposed-form form-inline">
    <div class="views-exposed-widgets clearfix">
    <div id="edit-pin-wrapper" class="views-exposed-widget views-widget-filter-pin form-group">
    <label for="edit-pin">
    Search by E-Pin </label>
    <div class="views-widget">
    <div class="form-item clearfix form-type-textfield form-item-pin form-group">
    <input type="text" id="edit-pin" name="pin" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
    </div>
    </div>
    </div>
    <div class="views-exposed-widget views-submit-button form-group m-t-22">
    <input type="submit" id="edit-submit-track-epin-admin" name="" value="Search" class="form-submit btn btn-default btn-primary" /> <input type="submit" id="edit-reset" name="op" value="Clear" class="form-submit btn btn-default btn-primary" /> </div>
    </div>
    </div>
    </div></form> </div>
    <div class="view-content">
    <div class="panel panel-default">
    <div class="table-responsive">
    <table class="views-table cols-10 table">
    <thead>
    <tr>
    <th class="views-field views-field-counter">
    # </th>
    <th class="views-field views-field-pin-id">
    Epin Details id </th>
    <th class="views-field views-field-pin">
    E-pin </th>
    <th class="views-field views-field-created-date">
    Created date </th>
    <th class="views-field views-field-php-4">
    Balance </th>
    <th class="views-field views-field-php-2">
    Status </th>
    <th class="views-field views-field-php">
    Transferable </th>
    <th class="views-field views-field-php-1">
    Reusable </th>
    <th class="views-field views-field-php-3">
    Delete </th>
    <th class="views-field views-field-php-5">
    </th>
    </tr>
    </thead>
    <tbody>

    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div> 
    </div>
    </div>
    </div>
