<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
    
    <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-lg-4 col-md-12">
    <h1 class="m-n h3">E-Wallet Summary</h1>
    <small class="text-muted"></small>
    </div>
    <div class="col-lg-8 col-md-12 text-right hidden-xs title-extra-class">
    <div class="region region-title-extra">
    
   
    
    </div>
    </div>
    
    </div>
    </div>
    
    
    <div class="wrapper-md ">
    
    
    
    
    <div class="row">
    <div class="col-md-12">
        <div>
            <tabset>
              <tab heading="Summary" id="tab1">
                <div class="region region-content">
                    <div id="block-system-main" class="block block-system clearfix">
                    <div class="view view-e-wallet-summary view-id-e_wallet_summary view-display-id-page view-dom-id-1d1f45b0bca54824e677caf03a53e9dd">
                    <div class="view-content">
                    <div class="panel panel-default">
                    <div class="table-responsive">
                    <table class="views-table cols-2 table">
                    <thead>
                    <tr>
                    <th class="views-field views-field-category">
                    Category </th>
                    <th class="views-field views-field-php">
                    Balance </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd views-row-first">
                    <td class="views-field views-field-category">
                    E-Pin Generation </td>
                    <td class="views-field views-field-php">
                    1,442.87 USD </td>
                    </tr>
                    <tr class="even">
                    <td class="views-field views-field-category">
                    E-Pin Refund </td>
                    <td class="views-field views-field-php">
                    150.00 USD </td>
                    </tr>
                    <tr class="odd">
                    <td class="views-field views-field-category">
                    Fund Deposit </td>
                    <td class="views-field views-field-php">
                    101.00 USD </td>
                    </tr>
                    <tr class="even">
                    <td class="views-field views-field-category">
                    Sales Commission </td>
                    <td class="views-field views-field-php">
                    1,965.00 USD </td>
                    </tr>
                    <tr class="odd">
                    <td class="views-field views-field-category">
                    Sponsor Bonus </td>
                    <td class="views-field views-field-php">
                    405.00 USD </td>
                    </tr>
                    <tr class="even">
                    <td class="views-field views-field-category">
                    Team Commission </td>
                    <td class="views-field views-field-php">
                    625.00 USD </td>
                    </tr>
                    <tr class="odd views-row-last">
                    <td class="views-field views-field-category">
                    Withdrawal </td>
                    <td class="views-field views-field-php">
                    333.00 USD </td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
                    <div class="view-footer">
                    <a href="/afl/ewallet-transactions/" html="1" class="btn btn-sm btn-primary padder-md m-b">View All</a>&nbsp;&nbsp;<a href="/afl/create-withdrawal-request" html="1" class="btn btn-sm btn-info padder-md m-b">Withdraw Fund</a> </div>
                    </div>
                    </div> 
                    </div>
              </tab>
              <tab heading="This Month">
                <div class="region region-content">
                  <div id="block-system-main" class="block block-system clearfix">
                  <div class="view view-e-wallet-summary view-id-e_wallet_summary view-display-id-page_1 view-dom-id-9a93d235c835faa0fb7a79ffc6a9ede9">
                  <div class="view-content">
                  <div class="panel panel-default">
                  <div class="table-responsive">
                  <table class="views-table cols-2 table">
                  <thead>
                  <tr>
                  <th class="views-field views-field-category">
                  Category </th>
                  <th class="views-field views-field-php">
                  Balance </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="odd views-row-first">
                  <td class="views-field views-field-category">
                  Sponsor Bonus </td>
                  <td class="views-field views-field-php">
                  20.00 USD </td>
                  </tr>
                  <tr class="even views-row-last">
                  <td class="views-field views-field-category">
                  Team Commission </td>
                  <td class="views-field views-field-php">
                  74.00 USD </td>
                  </tr>
                  </tbody>
                  </table>
                  </div>
                  </div>
                  </div>
                  <div class="view-footer">
                  <a href="/afl/ewallet-transactions/this-month" html="1" class="btn btn-sm btn-primary padder-md m-b">View All</a>&nbsp;&nbsp;<a href="/afl/create-withdrawal-request" html="1" class="btn btn-sm btn-info padder-md m-b">Withdraw Fund</a> </div>
                  </div>
                  </div> 
                  </div>


              </tab>
                  
              
              <tab heading="This Year">

                <div class="region region-content">
                  <div id="block-system-main" class="block block-system clearfix">
                  <div class="view view-e-wallet-summary view-id-e_wallet_summary view-display-id-page_3 view-dom-id-9d34b08285be242fdc65542664c4866e">
                  <div class="view-content">
                  <div class="panel panel-default">
                  <div class="table-responsive">
                  <table class="views-table cols-2 table">
                  <thead>
                  <tr>
                  <th class="views-field views-field-category">
                  Category </th>
                  <th class="views-field views-field-php">
                  Balance </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="odd views-row-first">
                  <td class="views-field views-field-category">
                  E-Pin Generation </td>
                  <td class="views-field views-field-php">
                  1,057.87 USD </td>
                  </tr>
                  <tr class="even">
                  <td class="views-field views-field-category">
                  E-Pin Refund </td>
                  <td class="views-field views-field-php">
                  150.00 USD </td>
                  </tr>
                  <tr class="odd">
                  <td class="views-field views-field-category">
                  Sales Commission </td>
                  <td class="views-field views-field-php">
                  965.00 USD </td>
                  </tr>
                  <tr class="even">
                  <td class="views-field views-field-category">
                  Sponsor Bonus </td>
                  <td class="views-field views-field-php">
                  200.00 USD </td>
                  </tr>
                  <tr class="odd views-row-last">
                  <td class="views-field views-field-category">
                  Team Commission </td>
                  <td class="views-field views-field-php">
                  116.00 USD </td>
                  </tr>
                  </tbody>
                  </table>
                  </div>
                  </div>
                  </div>
                  <div class="view-footer">
                  <a href="/afl/ewallet-transactions/this-year" html="1" class="btn btn-sm btn-primary padder-md m-b">View All</a>&nbsp;&nbsp;<a href="/afl/create-withdrawal-request" html="1" class="btn btn-sm btn-info padder-md m-b">Withdraw Fund</a> </div>
                  </div>
                  </div> 
                  </div>
                  

              </tab>
            </tabset>
          </div>
           
    </div>
  </div>