<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
    
    <!-- <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-sm-12 col-xs-12">
    <h1 class="m-n h3">Active Withdrawal Requests</h1>
    <small class="text-muted"></small>
    </div>
    
    </div>
    </div> -->
    
    
    <div class="wrapper-md ">
    
    
    
    
    <div class="row">
    <div class="col-md-12">
        <div>
            <tabset>
              <tab heading="Active withdrawal Requests" id="tab1">
                <div class="region region-content">
                    <div id="block-system-main" class="block block-system clearfix">
                    <div class="view view-my-withdrawal-requests view-id-my_withdrawal_requests view-display-id-page view-dom-id-e5d3a2f8aa9d993cabb5170203f4ff20">
                    <div class="view-header">
                    <p>
                    <br />
                    <a [routerLink]="['/withdraw-from-ewallet']"><button class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-plus"></i>Withdraw From E-Wallet </button></a></p> </div>
                    <div class="view-content">
                    <div class="vbo-views-form vbo-views-form-empty"><form action="/afl/withdrawal-requests/3" method="post" id="views-form-my-withdrawal-requests-page" accept-charset="UTF-8"><div class="from-panel"><input type="hidden" name="form_build_id" value="form-3iNx1wLhupxZChuoNrDwZeM_NhhcM1c0UZeETvlyxyw" />
                    <input type="hidden" name="form_token" value="Wp5NDWkVY3UHEPltV78r9m4IVbuit-j8kcx7RfXnP6U" />
                    <input type="hidden" name="form_id" value="views_form_my_withdrawal_requests_page" />
                    <input class="select-all-rows" type="hidden" name="select_all" value="" />
                    <fieldset class="container-inline form-wrapper" id="edit-select"><legend><span class="fieldset-legend">Operations</span></legend><div class="fieldset-wrapper"><input type="submit" id="edit-actionafl-cancel-my-withdrwal-request" name="op" value="Cancel my Withdrawal Request" class="form-submit btn btn-default btn-primary" /></div></fieldset>
                    <div class="panel b-a">
                    <div class="panel-heading ">
                    No records.
                    </div>
                    </div></div></form></div> </div>
                    </div>
                    </div> 
                    </div>
              </tab>
              <tab heading="Approved - Pending Payment">
                <div class="region region-content">
                    <div id="block-system-main" class="block block-system clearfix">
                    <div class="view view-my-withdrawal-requests view-id-my_withdrawal_requests view-display-id-page_2 view-dom-id-bcea590505258a64de3e20e2c7b08c5c">
                    <div class="view-header">
                    <p>
                    <br />
                    <a [routerLink]="['/withdraw-from-ewallet']"><button class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-plus"></i>Withdraw From E-Wallet </button></a></p> </div>
                    <div class="view-content">
                    <div class="views-form"><form action="/afl/withdrawal-requests/processed/3" method="post" id="views-form-my-withdrawal-requests-page-2" accept-charset="UTF-8"><div class="from-panel"><input type="hidden" name="form_build_id" value="form-t7bVDJxT6VffY434TSj8zek_HJiqk1CCPbHkTgrEfXo" />
                    <input type="hidden" name="form_token" value="Ejhx3P1urcLRMwRqsEih79uj62P7QZl_QgueRRk3DjM" />
                    <input type="hidden" name="form_id" value="views_form_my_withdrawal_requests_page_2" />
                    <div class="panel b-a">
                    <div class="panel-heading ">
                    No records.
                    </div>
                    </div></div></form></div> </div>
                    </div>
                    </div> 
                    </div>
              </tab>
              <tab heading="Approved - Paid">
                <div class="region region-content">
                    <div id="block-system-main" class="block block-system clearfix">
                    <div class="view view-my-withdrawal-requests view-id-my_withdrawal_requests view-display-id-page_4 view-dom-id-8fbd8359837bb5c6e019d820b1002741">
                    <div class="view-header">
                    <p>
                    <br />
                    <a [routerLink]="['/withdraw-from-ewallet']"><button class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-plus"></i>Withdraw From E-Wallet </button></a></p> </div>
                    <div class="view-content">
                    <div class="views-form"><form action="/afl/withdrawal-requests/paid/3" method="post" id="views-form-my-withdrawal-requests-page-4" accept-charset="UTF-8"><div class="from-panel"><input type="hidden" name="form_build_id" value="form-dVmT0ttGQze9q7fYlgKrfcEOfPXtYwXyvAR8wotL80A" />
                    <input type="hidden" name="form_token" value="EU75jKBM583z5BHWxihN8GXvZOb3BeYYzORZhI_J8Zo" />
                    <input type="hidden" name="form_id" value="views_form_my_withdrawal_requests_page_4" />
                    <div class="panel panel-default">
                    <div class="table-responsive">
                    <table class="views-table cols-7 table">
                    <thead>
                    <tr>
                    <th class="views-field views-field-created">
                    Requested Date </th>
                    <th class="views-field views-field-paid-date">
                    Paid Date </th>
                    <th class="views-field views-field-notes">
                    Notes </th>
                    <th class="views-field views-field-payout-method">
                    Preferred Method </th>
                    <th class="views-field views-field-php-2">
                    Payment Details </th>
                    <th class="views-field views-field-php">
                    Amount Requested </th>
                    <th class="views-field views-field-php-1">
                    Withdrawal Charge </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd views-row-first views-row-last">
                    <td class="views-field views-field-created">
                    09/28/2017 - 09:30 </td>
                    <td class="views-field views-field-paid-date">
                    02/07/2019 - 12:03 </td>
                    <td class="views-field views-field-notes">
                    Paid | Payment Processed </td>
                    <td class="views-field views-field-payout-method">
                    Bank Account </td>
                    <td class="views-field views-field-php-2">
                    </td>
                    <td class="views-field views-field-php">
                    333.00 USD </td>
                    <td class="views-field views-field-php-1">
                    33.30 USD </td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                    </div>
                    </div></form></div> </div>
                    </div>
                    </div> 
                    </div>
              </tab>
              <tab heading="Rejected Requestes">
                <div class="region region-content">
                    <div id="block-system-main" class="block block-system clearfix">
                    <div class="view view-my-withdrawal-requests view-id-my_withdrawal_requests view-display-id-page_3 view-dom-id-51e1f3f6d8b230e253fef14198a056cd">
                    <div class="view-header">
                    <p>
                    <br />
                    <a [routerLink]="['/withdraw-from-ewallet']"><button class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-plus"></i>Withdraw From E-Wallet </button></a></p> </div>
                    <div class="view-empty">
                    <div class="panel b-a">
                    <div class="panel-heading ">
                    No records.
                    </div>
                    </div> </div>
                    </div>
                    </div> 
                    </div>
              </tab>
            </tabset>
          </div>
     
    </div>
    </div>
