<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
    
    <!-- <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-sm-12 col-xs-12">
    <h1 class="m-n h3">Sales &amp; Other Earnings </h1>
    <small class="text-muted"></small>
    </div>
    
    </div>
    </div> -->
    
    
    <div class="wrapper-md ">
    
    
    <div class="row">
    <div class="region region-announcements">
    
    </div>
    </div>
    
    
    <div class="row">
    <div class="col-md-12">
    <div class="region region-content">
    <div id="block-system-main" class="block block-system clearfix">
    <div class="view view-business-transactions view-id-business_transactions view-display-id-page_2 view-dom-id-08cfdcee99b448f0a8f63386d0c4ef5c">
    <div class="view-filters">
    <form action="/afl-admin/business-expenses" method="get" id="views-exposed-form-business-transactions-page-2" accept-charset="UTF-8"><div class="from-panel"><div class="views-exposed-form form-inline">
    <div class="views-exposed-widgets clearfix">
    <div id="edit-uid-wrapper" class="views-exposed-widget views-widget-filter-uid form-group">
    <label for="edit-uid">
    Member Id </label>
    <div class="views-widget">
    <div class="form-item clearfix form-type-textfield form-item-uid form-group">
    <input type="text" id="edit-uid" name="uid" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
    </div>
    </div>
    </div>
    <div id="edit-category-wrapper" class="views-exposed-widget views-widget-filter-category form-group">
    <label for="edit-category">
    Category </label>
    <div class="views-widget">
    <div class="form-item clearfix form-type-select form-item-category form-group">
    <select id="edit-category" name="category" class="form-select form-control">
        <option value="All" selected="selected">- Any -</option>
                      <option value="ENROLMENT FEE">Enrolment Fee</option>
                      <option value="LEVEL COMMISSIONS">Level Commissions</option>
                      <option value="SPONSOR BONUS">Sponsor Bonus</option>
                      <option value="WITHDRAWAL">Withdrawal</option>
                      <option value="SALES COMMISSION">Sales Commission</option>
                      <option value="FUND DEPOSIT">Fund Deposit</option>
                      <option value="COMMISSION PAYOUT">Commission Payout</option>
                      <!-- <option value="COMMISSION PAYOUT CHARGES">Commission Payout Charges</option>
                      <option value="WITHDRAWAL CANCELLATION">Withdrawal Cancellation</option> -->
                      <option value="E-WALLET FUND TRANSAFER">E-wallet Fund Transfer</option>
                      <option value="E-WALLET PURCHASE">E-wallet Purchase</option>
                      <option value="PAYOUT REVERTED">Payout Cancelled</option>
                      <option value="TEAM COMMISSION">Team Commission</option></select>
    </div>
    </div>
    </div>
    <div class="views-exposed-widget views-submit-button form-group m-t-22">
    <input type="submit" id="edit-submit-business-transactions" name="" value="Filter" class="form-submit btn btn-default btn-primary" /> <input type="submit" id="edit-reset" name="op" value="Clear" class="form-submit btn btn-default btn-primary" /> </div>
    </div>
    </div>
    </div></form> </div>
    <div class="view-content">
    <div class="panel panel-default">
    <div class="table-responsive">
    <table class="views-table cols-6 table">
    <thead>
    <tr>
    <th class="views-field views-field-counter">
    # </th>
    <th class="views-field views-field-category">
    Category </th>
    <th class="views-field views-field-name">
    Member </th>
    <th class="views-field views-field-name-1">
    Sponser Name </th>
    <th class="views-field views-field-php">
    Amount </th>
    <th class="views-field views-field-created">
    Transaction Date </th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div> 
    </div>
    </div>
    </div>

