.app-content-body {
    float: left;
    width: 100%;
    padding-bottom: 50px;
}
.hbox {
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;
}
.hbox .col {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
}
.bg-light.lter, .bg-light .lter {
    background-color: #f6f8f8;
}
.b-b {
    border-bottom: 1px solid #dee5e7;
}
.wrapper-md {
    padding: 20px;
}
.bg-light {
    color: #58666e;
    
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-sm-12 {
    width: 100%;
}
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.m-n {
    margin: 0!important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.text-muted {
    color: #98a6ad;
}
small, .small {
    font-size: 13px;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
body {
    font-family: source sans pro,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    color: #58666e;
    background-color: transparent;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-12 {
    width: 100%;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.block.clearfix {
    clear: both;
}
.block {
    display: block;
}
.panel-default {
    border-color: #dee5e7;
}
.panel {
    border-radius: 2px;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 0px solid transparent;
    
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel>.table-responsive {
    margin-bottom: 0;
    border: 0;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.panel>.table-responsive:last-child>.table:last-child, .panel>.table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel>.table-responsive:first-child>.table:first-child, .panel>.table:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel>.panel-collapse>.table, .panel>.table, .panel>.table-responsive>.table {
    margin-bottom: 0;
}
.table-responsive table {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table-responsive table thead {
    background: #e5e5e5;
}
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child, .panel>.table:first-child>thead:first-child>tr:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child td:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child th:first-child, .panel>.table:first-child>thead:first-child>tr:first-child td:first-child, .panel>.table:first-child>thead:first-child>tr:first-child th:first-child {
    border-radius: 0;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
.table-responsive table thead th {
    font-weight: 700;
}
.table>thead>tr>th {
    padding: 8px 15px;
    border-bottom: 1px solid #eaeff0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
   
    line-height: 1.42857143;
    
}
.table-responsive table th {
    
    text-align: center;
    border-right: solid 1px #cecece;
    
    font-size: 14px;
    color: #3f4454;
}
.page-checkout-3 .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child, .page-checkout-3 .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child, .page-checkout-3 .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child, .page-checkout-3 .panel>.table:first-child>tbody:first-child>tr:first-child td:first-child, .page-checkout-3 .panel>.table:first-child>tbody:first-child>tr:first-child th:first-child, .page-checkout-3 .panel>.table:first-child>thead:first-child>tr:first-child td:first-child, .page-checkout-3 .panel>.table:first-child>thead:first-child>tr:first-child th:first-child, .page-checkout-3 .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child, .page-checkout-3 .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child, .page-checkout-3 .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child, .panel>.table:first-child>tbody:first-child>tr:first-child td:last-child, .page-checkout-3 .panel>.table:first-child>tbody:first-child>tr:first-child th:last-child, .page-checkout-3 .panel>.table:first-child>thead:first-child>tr:first-child td:last-child, .page-checkout-3 .panel>.table:first-child>thead:first-child>tr:first-child th:last-child {
    border-radius: 0;
}
.table-responsive table thead {
    background: #e5e5e5;
}
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child, .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child, .panel>.table:last-child>tbody:last-child>tr:last-child td:first-child, .panel>.table:last-child>tbody:last-child>tr:last-child th:first-child, .panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child, .panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child {
    border-bottom-left-radius: 3px;
}
.afl_enrolment_details .table>tbody>tr>th, .afl_enrolment_details .table>tfoot>tr>th, .table>tbody>tr>td, .afl_enrolment_details .table>tfoot>tr>td {
    border: none;
}
.table>tbody>tr>th, .table>tfoot>tr>th, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px 15px;
    
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    
    line-height: 1.42857143;
    vertical-align: top;
   
}
.table-responsive tbody th, .table-responsive tbody td {
   
    text-align: center;
    border-right: solid 1px #ccc!important;
    font-size: 14px;
    color: #3f4454;
    border-bottom: solid 1px #ccc!important;
}
.table>tbody>tr>th, .table>tfoot>tr>th, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px 15px;
    
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    
    line-height: 1.42857143;
    vertical-align: top;
    
}
.table-responsive tbody th, .table-responsive tbody td {
   
    text-align: center;
    border-right: solid 1px #ccc!important;
    font-size: 14px;
    color: #3f4454;
    border-bottom: solid 1px #ccc!important;
}