
<div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-sm-12 col-xs-12">
    <h1 class="m-n h3">Purchase Invoices</h1>
    <small class="text-muted"></small>
    </div>
    
    </div>
    </div>
    
    
    <div class="wrapper-md ">
    
  
    
    
      <div class="row">
      <div class="col-md-12">
      <div class="region region-content">
      <div id="block-system-main" class="block block-system clearfix">
      <div class="view view-manage-members view-id-manage_members view-display-id-page view-dom-id-9c7a613581257f299f8e8ef3797ec6b6">
      <div class="view-filters">
      <form action="/afl-admin/manage-members" method="get" id="views-exposed-form-manage-members-page" accept-charset="UTF-8"><div class="from-panel"><div class="views-exposed-form form-inline">
      <div class="views-exposed-widgets clearfix">
        <div id="edit-uid-wrapper" class="views-exposed-widget views-widget-filter-uid form-group">
          <label for="edit-uid">
          Client </label>
          <div class="views-widget">
          <div class="form-item form-autocomplete clearfix form-type-textfield form-item-uid form-group" data-toggle="tooltip" title="Enter a comma separated list of user names.">
          <!-- <input type="text" id="edit-uid" name="uid" value="" size="60" maxlength="128" class="form-text form-control input-lg-3 form-autocomplete" /><span class="fa fa-refresh form-control-feedback" aria-hidden="true"></span><input type="hidden" id="edit-uid-autocomplete" value="https://matrix.epixelmlmsoftware.com/admin/views/ajax/autocomplete/user" disabled="disabled" class="autocomplete" /> -->
          <select id="edit-category" name="category" class="form-select form-control"><option value="All" selected="selected"></option><option value="user_profile_email_change">Profile Email Change Request</option><option value="user_profile_password_change">Profile Password Change</option><option value="wallet_change">Withdrawal Wallet Address Change</option><option value="change_transaction_password">Transaction Password Change</option><option value="bitcoin_wallet_change">Bitcoin Wallet Address Change</option><option value="token_wallet_change">Token Wallet Address Change</option><option value="bitcoin_withdrawal">Bitcoin Withdrawal</option></select>
        </div>
          </div>
          </div>
          <div id="edit-category-wrapper" class="views-exposed-widget views-widget-filter-category form-group">
            <label for="edit-category">
            Invoice # </label>
            <div class="views-widget">
            <div class="form-item clearfix form-type-select form-item-category form-group">
              <input type="text" id="edit-ip" name="ip" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
            
            </div>
            </div>
            </div>
            <div id="edit-category-wrapper" class="views-exposed-widget views-widget-filter-category form-group">
              <label for="edit-category">
              Invoice Date </label>
              <div class="views-widget">
              <div class="form-item clearfix form-type-select form-item-category form-group">
                <input type="text" id="edit-ip" name="ip" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
              
              </div>
              </div>
              </div>
              <div id="edit-status-wrapper" class="views-exposed-widget views-widget-filter-status form-group">
                <label for="edit-status">
                Due Date </label>
                <div class="views-widget">
                <div class="form-item clearfix form-type-select form-item-status form-group">
                  <input type="text" id="edit-ip" name="ip" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
                </div>
                </div>
                </div>
                <div id="edit-ip-wrapper" class="views-exposed-widget views-widget-filter-ip form-group">
                <label for="edit-ip">
                PO # </label>
                <div class="views-widget">
                <div class="form-item clearfix form-type-textfield form-item-ip form-group">
                <input type="text" id="edit-ip" name="ip" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
                </div>
                </div>
                </div>
                <div id="edit-category-wrapper" class="views-exposed-widget views-widget-filter-category form-group">
                  <label for="edit-category">
                  Discount </label>
                  <div class="views-widget">
                  <div class="form-item clearfix form-type-select form-item-category form-group">
                   
                    <select id="edit-category" name="category" class="form-select form-control"><option value="Amount" selected="selected">Amount</option><option value="percent">Percent</option></select>
                  </div>
                  </div>
                  </div>
      
      </div>
      </div>
      </div></form> </div>
      <div class="view-content">
      <div class="vbo-views-form"><form action="/afl-admin/manage-members" method="post" id="views-form-manage-members-page" accept-charset="UTF-8"><div class="from-panel"><input type="hidden" name="form_build_id" value="form--QtrpyATFC55n1sp5JS-wdFk1aNRltQwFAuZt5-wX2M" />
      <input type="hidden" name="form_token" value="UAYTayyB66VLRdKqNUAOy9VqyXrKwaLmDw-3sTpiXqc" />
      <input type="hidden" name="form_id" value="views_form_manage_members_page" />
      <input class="select-all-rows" type="hidden" name="select_all" value="" />
      
      <!-- <div class="vbo-table-select-all-markup"><span class="vbo-table-this-page">Selected <strong>25 rows</strong> in this page. &nbsp;<input class="vbo-table-select-all-pages form-submit btn btn-default btn-primary" type="submit" name="op" value="Select all 151 rows in this view." /></span><span class="vbo-table-all-pages" style="display: none">Selected <strong>151 rows</strong> in this view. &nbsp;<input class="vbo-table-select-this-page form-submit btn btn-default btn-primary" type="submit" name="op" value="Select only 25 rows in this page." /></span></div><div class="panel panel-default"> -->
      <div class="table-responsive">
        <table class="views-table cols-6 table">
          <thead>
          <tr>
          <th class="views-field views-field-order-id">
          </th>
          <th class="views-field views-field-uid">
          Item </th>
          <th class="views-field views-field-commerce-customer-billing">
          Description </th>
          <th class="views-field views-field-mail">
          Unit Cost </th>
          <th class="views-field views-field-php">
          Quantity </th>
          <th class="views-field views-field-php">
            Amount </th>
          <th class="views-field views-field-view-order">
           Total Amount </th>
          </tr>
          </thead>
          <tbody id="txtbody">
            <tr >
                <td><input type="text" class="form-control" id="slno" value="" placeholder="S.No" readonly /></td>
                <td id="td"><input type="text" class="form-control" id="itemid" placeholder="&#61442;" style="font-family:FontAwesome;" /></td>
                <td><input type="text" name="description_$index"  id="description" class="form-control" ></td>
               
                <td width="150"><input ng-model="item.unitmeasure" id="unitmeasure" type="text" class="form-control" ></td>
                <td width="150"><input ng-model="item.unitmeasure" id="unitmeasure" type="text" class="form-control" ></td>
                                                                                 
                <td><input  id="discountamt" type="text" class="form-control" ></td>
                <td><input  id="totamt" type="text" class="form-control"></td>
                
                <td ></td>
              
            </tr>                                                                    
        </tbody>
          </table>
          </div>
          <!-- </div>
          </div> -->
          <!-- <div class="sample" style="text-align:right">
            <div class="column1" >
              <label>Subtotal</label><br>
              <input type="text" style="border-top:0px;border-left:0px;border-right:0px"><br>
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paid to Date</label><br>
              <input type="text" style="border-top:0px;border-left:0px;border-right:0px"><br>
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Balence Date</label><br>
              <input type="text" style="border-top:0px;border-left:0px;border-right:0px"><br><br>
            </div> -->
            
                          