<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
    
    <!-- <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-lg-4 col-md-12">
    <h1 class="m-n h3">Transaction Summary</h1>
    <small class="text-muted"></small>
    </div>
   
    
    </div>
    </div> -->
    
    
    <div class="wrapper-md ">
    
    
   
    
    
    <div class="row">
    <div class="col-md-12">
    <div class="region region-content">
    <div id="block-system-main" class="block block-system clearfix">
    <div class="view view-business-b-wallet-summary view-id-business_b_wallet_summary view-display-id-page view-dom-id-6634268dbc9cde16718db68dca47c59b">
    <div class="view-content">
    <div class="panel panel-default">
    <div class="table-responsive">
    <table class="views-table cols-2 table">
    <thead>
    <tr>
    <th class="views-field views-field-category">
    Category </th>
    <th class="views-field views-field-php">
    Balance </th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd views-row-first">
    <td class="views-field views-field-category">
    E-Pin Generation </td>
    <td class="views-field views-field-php">
    $ 1,663.97 </td>
    </tr>
    <tr class="even">
    <td class="views-field views-field-category">
    Enrolment fee </td>
    <td class="views-field views-field-php">
    $ 15,100.00 </td>
    </tr>
    <tr class="odd">
    <td class="views-field views-field-category">
    E-Pin Refund </td>
    <td class="views-field views-field-php">
    $ 150.00 </td>
    </tr>
    <tr class="even">
    <td class="views-field views-field-category">
    Fund Deposit </td>
    <td class="views-field views-field-php">
    $ 1,601.00 </td>
    </tr>
    <tr class="odd">
    <td class="views-field views-field-category">
    Product Sales </td>
    <td class="views-field views-field-php">
    $ 184,500.00 </td>
    </tr>
    <tr class="even">
    <td class="views-field views-field-category">
    Re Withdrawal Charges </td>
     <td class="views-field views-field-php">
    $ 65.50 </td>
    </tr>
    <tr class="odd">
    <td class="views-field views-field-category">
    Refund </td>
    <td class="views-field views-field-php">
    $ 11,761.10 </td>
    </tr>
    <tr class="even">
    <td class="views-field views-field-category">
    Sales Commission </td>
    <td class="views-field views-field-php">
    $ 3,965.00 </td>
    </tr>
    <tr class="odd">
    <td class="views-field views-field-category">
    Sponsor Bonus </td>
    <td class="views-field views-field-php">
    $ 1,625.00 </td>
    </tr>
    <tr class="even">
    <td class="views-field views-field-category">
    Team Commission </td>
    <td class="views-field views-field-php">
    $ 1,765.00 </td>
    </tr>
    <tr class="odd views-row-last">
    <td class="views-field views-field-category">
    Withdrawal Charges </td>
    <td class="views-field views-field-php">
    $ 181.50 </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div> 
    </div>
    </div>
    </div>
