<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
    
    <!-- <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-sm-12 col-xs-12">
    <h1 class="m-n h3">E-Commerce</h1>
    <small class="text-muted"></small>
    </div>
    
    </div>
    </div> -->
    
    
    <div class="wrapper-md ">
    
    
    
    
    <div class="row">
    <div class="col-md-12">
    <div class="region region-content">
    <div id="block-system-main" class="block block-system clearfix">
    <div class="view view-marketplace view-id-marketplace view-display-id-page view-dom-id-8e6c4119768eeb070f6719e2edaff480">
    <div class="view-content">
    <div id="views-bootstrap-grid-1" class="views-bootstrap-grid-plugin-style">
    <div class="row">
    <div class=" col-xs-12 col-lg-4">
    
    <div class="views-field views-field-nothing"> <span class="field-content"><div class="panel panel-default">
    <div class="panel-heading text-center">Rajadhani Assests<span class="pull-right"><a [routerLink]="['/store']" title="Edit this product" class="text-muted"><i class="fa fa-pencil" aria-hidden="true"></i></a></span></div>
    <div class="panel-body text-center"><img style="width:200px;height:200px" src="assets/img/70.jpg" alt="" /></div>
    <div class="panel-footer text-center"><span class="label label-info">Plots</span></div>
    <div class="panel-footer text-center">&#x20b9; 4,000,00.00 per unit</div>
    <div class="panel-footer text-center">DownPayment : &#x20b9; 25000.00 </div>
    <div class="panel-footer text-center"><form class="commerce-add-to-cart commerce-cart-add-to-cart-form-8" autocomplete="off" action="/afl/marketplace" method="post" id="commerce-cart-add-to-cart-form-8" accept-charset="UTF-8"><div><input type="hidden" name="product_id" value="8" />
    <input type="hidden" name="form_build_id" value="form-vK4RCJDFQ-3i091CmkIZR5kzw9jdCQeKKEhAmhv5t4A" />
    <input type="hidden" name="form_token" value="iv2fpjOGYoX3ZJEaI3ondMkhrAJR30oSb2d-iBaXnj4" />
    <input type="hidden" name="form_id" value="commerce_cart_add_to_cart_form_8" />
    <div id="edit-line-item-fields" class="form-wrapper"></div><input type="hidden" name="quantity" value="1" />
    <input type="submit" id="edit-submit" name="op" value="Add to cart" class="form-submit btn btn-default btn-primary" /></div></form></div>
    </div></span> </div> </div>
    <div class=" col-xs-12 col-lg-4">
    <div class="views-field views-field-nothing"> <span class="field-content"><div class="panel panel-default">
    <div class="panel-heading text-center">Rajadhani Assests Phase-2<span class="pull-right"><a [routerLink]="['/store']" title="Edit this product" class="text-muted"><i class="fa fa-pencil" aria-hidden="true"></i></a></span></div>
    <div class="panel-body text-center"><img style="width:200px;height:200px" src="assets/img/72.jpg" alt="" /></div>
    <div class="panel-footer text-center"><span class="label label-info">Plots</span></div>
    <div class="panel-footer text-center">&#x20b9; 4,000,00.00 per unit</div>
    <div class="panel-footer text-center">DownPayment : &#x20b9; 25000.00 </div>
    <div class="panel-footer text-center"><form class="commerce-add-to-cart commerce-cart-add-to-cart-form-9" autocomplete="off" action="/afl/marketplace" method="post" id="commerce-cart-add-to-cart-form-9" accept-charset="UTF-8"><div><input type="hidden" name="product_id" value="9" />
    <input type="hidden" name="form_build_id" value="form-Kteh3Y8wocaDvVEgNRxZS9LmBHpLaXmY3rClqw8OHHo" />
    <input type="hidden" name="form_token" value="lxatUILS7gWUxj8gO4UMpXyi1avBtnw50cWbH7A4jeg" />
    <input type="hidden" name="form_id" value="commerce_cart_add_to_cart_form_9" />
    <div id="edit-line-item-fields--2" class="form-wrapper"></div><input type="hidden" name="quantity" value="1" />
    <input type="submit" id="edit-submit--2" name="op" value="Add to cart" class="form-submit btn btn-default btn-primary" /></div></form></div>
    </div></span> </div> </div>
    <div class=" col-xs-12 col-lg-4">
    <div class="views-field views-field-nothing"> <span class="field-content"><div class="panel panel-default">
    <div class="panel-heading text-center">Rajadhani Housing Plots<span class="pull-right"><a [routerLink]="['/store']" title="Edit this product" class="text-muted"><i class="fa fa-pencil" aria-hidden="true"></i></a></span></div>
    <div class="panel-body text-center"><img style="width:200px;height:200px" src="assets/img/4.png" alt="" /></div>
    <div class="panel-footer text-center"><span class="label label-info">Plots</span></div>
    <div class="panel-footer text-center">&#x20b9; 4,000,00.00 per unit</div>
    <div class="panel-footer text-center">DownPayment : &#x20b9; 25000.00 &#x20b9;</div>
    <div class="panel-footer text-center"><form class="commerce-add-to-cart commerce-cart-add-to-cart-form-10" autocomplete="off" action="/afl/marketplace" method="post" id="commerce-cart-add-to-cart-form-10" accept-charset="UTF-8"><div><input type="hidden" name="product_id" value="10" />
    <input type="hidden" name="form_build_id" value="form-VlO4JR5Jh2Pf7UtF7Q-qgWzy5403Wd5iPehUuRtoROY" />
    <input type="hidden" name="form_token" value="p8ReTB3PCmbMl6ft8hHKWYAwZdXNLluwWtbT3-b0Bi8" />
    <input type="hidden" name="form_id" value="commerce_cart_add_to_cart_form_10" />
    <div id="edit-line-item-fields--3" class="form-wrapper"></div><input type="hidden" name="quantity" value="1" />
    <input type="submit" id="edit-submit--3" name="op" value="Add to cart" class="form-submit btn btn-default btn-primary" /></div></form></div>
    </div></span> </div> </div>
    <div class="clearfix visible-lg-block"></div>
    </div>
    </div>
    </div>
    </div>
    </div> 
    </div>
    </div>
    </div>