<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
    
    <!-- <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-sm-12 col-xs-12">
    <h1 class="m-n h3">Generate E-Pin</h1>
    </div>
    
    </div>
    </div> -->
    
    
    <div class="wrapper-md ">
    
    
    
    
    <div class="row">
    <div class="col-md-12">
    <div class="region region-content">
    <div id="block-system-main" class="block block-system clearfix">
    <form action="/afl/epin/generate" method="post" id="generate-epin" accept-charset="UTF-8"><div class="from-panel"><div id="checkboxes-div"><fieldset class="form-wrapper" id="edit-e-pin-generation-form"><legend><span class="fieldset-legend">Configuration for E-pin Generation</span></legend><div class="fieldset-wrapper"><div class="form-item clearfix form-type-textfield form-item-e-pin-amount form-group" data-toggle="tooltip" title="Amount must be in between 100 and 2,000.00">
    <label for="edit-e-pin-amount">E-Pin amount </label>
    <div class="input-group m-b"><span class="input-group-addon">$</span><input groupfields="$" type="text" id="edit-e-pin-amount" name="e_pin_amount" value="" size="10" maxlength="128" class="form-text form-control input-lg-3" /></div>
    </div>
    <div class="form-item clearfix form-type-textfield form-item-no-of-pins form-group" data-toggle="tooltip" title="You can generate maximum of 2 E-pins">
    <label for="edit-no-of-pins">Number of E-Pins </label>
    <input type="text" id="edit-no-of-pins" name="no_of_pins" value="1" size="10" maxlength="128" class="form-text form-control input-lg-3" />
    </div>
    <div class="form-item clearfix form-type-checkbox form-item-e-pin-transferable">
    <label class="i-checks"><input type="checkbox" id="edit-e-pin-transferable" name="e_pin_transferable" value="1" class="form-checkbox checkbox" /><i></i></label> <label class="option" for="edit-e-pin-transferable">Transferable (Can other users use this E-pin for their purchases ?) </label>
    </div>
    <div class="form-item clearfix form-type-checkbox form-item-reusable">
    <label class="i-checks"><input type="checkbox" id="edit-reusable" name="reusable" value="1" class="form-checkbox checkbox" /><i></i></label> <label class="option" for="edit-reusable">Reusable (This E-pin can be used for multiple purchases. Its value will be decreased for each purchases. ) </label>
    </div>
    </div></fieldset>
    </div><table class="table sticky-enabled">
    <thead><tr><th>E-wallet Particulars</th><th>Amount</th> </tr></thead>
    <tbody>
    <tr class="odd"><td>E-wallet amount already in <br />payout or withdrawal process</td><td>1,470.13 USD</td> </tr>
    <tr class="even"><td> Maximum available amount to generate E-pin</td><td>0.00 USD</td> </tr>
    <tr class="odd"><td>E-pin Generation Fee</td><td>10%</td> </tr>
    </tbody>
    </table>
    <input type="submit" id="edit-submit" name="op" value="Generate Pin" class="form-submit btn btn-default btn-primary" /><input type="hidden" name="form_build_id" value="form-iHuSwr6PklfY0aDaSwE14zYUAwvvUCjWIi_tTP1H-0Y" />
    <input type="hidden" name="form_token" value="fv-IIHfGOfclC3MLa4LoPvW_v70QNeTBxTGy27CA8_w" />
    <input type="hidden" name="form_id" value="generate_epin" />
    </div></form>
    </div> 
    </div>
    </div>
    </div>
    