
.app-content {
    height: 100%;
}
.content
{
box-sizing:border-box;
color:rgb(88, 102, 110);
display:block;
font-family:"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:14px;
height:880px;
line-height:20px;
margin-left:230px;
text-size-adjust:100%;
width:1353px;
-webkit-font-smoothing:antialiased;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0)
}

.app-content-body {
    float: left;
    width: 100%;
    padding-bottom: 50px;
}
.hbox {
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;
}
.hbox .col {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
}
.bg-light.lter, .bg-light .lter {
    background-color: #f6f8f8;
}
.b-b {
    border-bottom: 1px solid #dee5e7;
}
.wrapper-md {
    padding: 20px;
}
.bg-light {
    color: #58666e;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.m-n {
    margin: 0 !important;
}

.h3, h3 {
    font-size: 16px;
    font-weight: bold;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
     font-weight: bold;
    line-height: 1.0;
    color: inherit;
}

.text-muted {
    color: #98a6ad;
}

small, .small {
    font-size: 13px;
}

.wrapper-md {
    padding: 20px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.block.clearfix {
    clear: both;
}
.block {
    display: block;
}
p {
    margin: 0 0 10px;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.m-b-xs {
    margin-bottom: 5px;
}
.btn-primary {
    color: #ffffff;
    background-color:darkgreen;
    border-color: #7266ba;
}
.btn {
    font-weight: 500;
    border-radius: 2px;
    outline: 0!important;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
.btn-addon.btn-sm i {
    width: 30px;
    height: 30px;
    margin: -6px -10px;
    margin-right: 10px;
    line-height: 30px;
}
.btn-addon i {
    position: relative;
    float: left;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    border-radius: 2px 0 0 2px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.panel-default {
    border-color: #dee5e7;
}
.panel {
    border-radius: 2px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel>.table-responsive {
    margin-bottom: 0;
    border: 0;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.panel>.table-responsive:last-child>.table:last-child, .panel>.table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel>.table-responsive:first-child>.table:first-child, .panel>.table:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel>.panel-collapse>.table, .panel>.table, .panel>.table-responsive>.table {
    margin-bottom: 0;
}
.table-responsive table {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table-responsive table thead {
    background: #e5e5e5;
}

.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child, .panel>.table:first-child>thead:first-child>tr:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child, .panel > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table:first-child > thead:first-child > tr:first-child th:first-child {
    border-radius: 0;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
.table-responsive table thead th {
    font-weight: bold;
}
.table > thead > tr > th {
    padding: 8px 15px;
    border-bottom: 1px solid #eaeff0;
}
.table>thead>tr>th {
    vertical-align: bottom;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    
    line-height: 1.42857143;
    
}
.table-responsive table th {
    text-align: center;
    border-right: solid 1px #cecece;
    font-size: 14px;
    color: #3f4454;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
.table-responsive table thead th {
    font-weight: bold;
}
.table > thead > tr > th {
    padding: 8px 15px;
    border-bottom: 1px solid #eaeff0;
}
.table>thead>tr>th {
    vertical-align: bottom;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    line-height: 1.42857143;
}
.table-responsive table th {
    text-align: center;
    border-right: solid 1px #cecece;
    font-size: 14px;
    color: #3f4454;
}

.page-checkout-3 .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child, .page-checkout-3 .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child, .page-checkout-3 .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child, .page-checkout-3 .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child, .page-checkout-3 .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child, .page-checkout-3 .panel > .table:first-child > thead:first-child > tr:first-child td:first-child, .page-checkout-3 .panel > .table:first-child > thead:first-child > tr:first-child th:first-child, .page-checkout-3 .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child, .page-checkout-3 .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child, .page-checkout-3 .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child, .page-checkout-3 .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child, .page-checkout-3 .panel > .table:first-child > thead:first-child > tr:first-child td:last-child, .page-checkout-3 .panel > .table:first-child > thead:first-child > tr:first-child th:last-child {
    border-radius: 0;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
.table-responsive table thead th {
    font-weight: bold;
}
.table > thead > tr > th {
    padding: 8px 15px;
}
.table>thead>tr>th {
    vertical-align: bottom;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
   
    line-height: 1.42857143;
}
.table-responsive table th {
    text-align: center;
    border-right: solid 1px #cecece;
    font-size: 14px;
    color: #3f4454;
}
