<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col">
  
  <!-- <div class="bg-light lter b-b wrapper-md">
  <div class="row">
  <div class="col-lg-4 col-md-12">
  <h1 class="m-n h3">Withdrawals &amp; Outward Funds</h1>
  <small class="text-muted"></small>
  </div>     
  </div>
  </div> -->
  
  
  <div class="wrapper-md ">
  
  
  
  
  <div class="row">
  <div class="col-md-12">
      <div>
          <tabset>
            <tab heading="Summary" id="tab1">
              <div class="region region-content">
                  <div id="block-system-main" class="block block-system clearfix">
                  <div class="view view-e-wallet-transactions view-id-e_wallet_transactions view-display-id-page_2 view-dom-id-6f6063f804c3121f115cbb3413b70812">
                  <div class="view-filters">
                  <form action="/afl/expenses-history" method="get" id="views-exposed-form-e-wallet-transactions-page-2" accept-charset="UTF-8"><div class="from-panel"><div class="views-exposed-form form-inline">
                  <div class="views-exposed-widgets clearfix">
                  <div id="edit-associated-user-id-wrapper" class="views-exposed-widget views-widget-filter-associated_user_id form-group">
                  <label for="edit-associated-user-id">
                  Transaction id </label>
                  <div class="views-widget">
                  <div class="form-item clearfix form-type-textfield form-item-associated-user-id form-group">
                  <input type="text" id="edit-associated-user-id" name="associated_user_id" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
                  </div>
                  </div>
                  </div>
                  <div id="edit-category-wrapper" class="views-exposed-widget views-widget-filter-category form-group">
                  <label for="edit-category">
                  Transaction type </label>
                  <div class="views-widget">
                  <div class="form-item clearfix form-type-select form-item-category form-group">
                  <select id="edit-category" name="category" class="form-select form-control">
                    <option value="All" selected="selected">- Any -</option>
                    <option value="ENROLMENT FEE">Enrolment Fee</option>
                    <option value="LEVEL COMMISSIONS">Level Commissions</option>
                    <option value="SPONSOR BONUS">Sponsor Bonus</option>
                    <option value="WITHDRAWAL">Withdrawal</option>
                    <option value="SALES COMMISSION">Sales Commission</option>
                    <option value="FUND DEPOSIT">Fund Deposit</option>
                    <option value="COMMISSION PAYOUT">Commission Payout</option>
                    <!-- <option value="COMMISSION PAYOUT CHARGES">Commission Payout Charges</option>
                    <option value="WITHDRAWAL CANCELLATION">Withdrawal Cancellation</option> -->
                    <option value="E-WALLET FUND TRANSAFER">E-wallet Fund Transfer</option>
                    <option value="E-WALLET PURCHASE">E-wallet Purchase</option>
                    <option value="PAYOUT REVERTED">Payout Cancelled</option>
                    <option value="TEAM COMMISSION">Team Commission</option></select>
                  </div>
                  </div>
                  </div>
                  <div class="views-exposed-widget views-submit-button form-group m-t-22">
                  <input type="submit" id="edit-submit-e-wallet-transactions" name="" value="Search" class="form-submit btn btn-default btn-primary" /> <input type="submit" id="edit-reset" name="op" value="Clear" class="form-submit btn btn-default btn-primary" />
                  <input type="submit" id="edit-reset" name="op" value="Export to PDF" class="form-submit btn btn-default btn-primary" />
                </div>
                  </div>
                  </div>
                  </div></form> </div>
                  <div class="view-content">
                  <div class="panel panel-default">
                  <div class="table-responsive">
                  <table class="views-table cols-5 table">
                  <thead>
                  <tr>
                   <th class="views-field views-field-counter">
                  # </th>
                  <th class="views-field views-field-category">
                  Source</th>
                  <th class="views-field views-field-name">
                  Details of Transaction </th>
                  <th class="views-field views-field-php">
                  Amount </th>
                  <th class="views-field views-field-created">
                  Transaction Date </th>
                  <th class="views-field views-field-created">
                    Actions </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="odd views-row-first">
                  <td class="views-field views-field-counter">
                  1 </td>
                  <td class="views-field views-field-category">
                  E-Pin Generation </td>
                  <td class="views-field views-field-name">
                  Business Director <span class="label bg-info username-hide-show"><a href="/user/3" title="View user profile." class="username">business.admin</a></span> <span class="label1 label-primary">3</span> </td>
                  <td class="views-field views-field-php">
                  <span class="small text-primary"></span> 1,057.87 USD <span class="label2 bg-danger"> Debited </span> </td>
                  <td class="views-field views-field-created">
                  06/07/2020 </td>
                  <td>
                                                
                    <a href="#" data-lity="">
                        <i class="fa fa-eye fa-1x" style="font-size: 14px; padding: 05px;color: #102f66;"></i>
                    </a>
                    <a>
                        <i class="fa fa-edit fa-1x" style="font-size: 14px; padding: 05px;color: #102f66;"></i>
                    </a>
                    <a >
                        <i class="fa fa-trash fa-1x" style="font-size: 14px;padding: 05px;color: #102f66;" ></i>
                    </a>
                    <a >
                      <i class="fa fa-print fa-1x" style="font-size: 14px;padding: 05px;color: #102f66;" ></i>
                  </a>
                </td>
                  </tr>
                  <tr class="even">
                  <td class="views-field views-field-counter">
                  2 </td>
                  <td class="views-field views-field-category">
                  E-Pin Generation </td>
                  <td class="views-field views-field-name">
                  Business Director <span class="label bg-info username-hide-show"><a href="/user/3" title="View user profile." class="username">business.admin</a></span> <span class="label1 label-primary">3</span> </td>
                  <td class="views-field views-field-php">
                  <span class="small text-primary"></span> 110.00 USD <span class="label2 bg-danger"> Debited </span> </td>
                  <td class="views-field views-field-created">
                  02/16/2019 </td>
                  </tr>
                  <tr class="odd">
                  <td class="views-field views-field-counter">
                  3 </td>
                  <td class="views-field views-field-category">
                  E-Pin Generation </td>
                  <td class="views-field views-field-name">
                  Business Director <span class="label bg-info username-hide-show"><a href="/user/3" title="View user profile." class="username">business.admin</a></span> <span class="label1 label-primary">3</span> </td>
                  <td class="views-field views-field-php">
                  <span class="small text-primary"></span> 165.00 USD <span class="label2 bg-danger"> Debited </span> </td>
                  <td class="views-field views-field-created">
                  01/29/2019 </td>
                  </tr>
                  <tr class="even">
                  <td class="views-field views-field-counter">
                  4 </td>
                  <td class="views-field views-field-category">
                  E-Pin Generation </td>
                  <td class="views-field views-field-name">
                  Business Director <span class="label bg-info username-hide-show"><a href="/user/3" title="View user profile." class="username">business.admin</a></span> <span class="label1 label-primary">3</span> </td>
                  <td class="views-field views-field-php">
                  <span class="small text-primary"></span> 110.00 USD <span class="label2 bg-danger"> Debited </span> </td>
                  <td class="views-field views-field-created">
                  01/25/2019 </td>
                  </tr>
                  <tr class="odd views-row-last">
                  <td class="views-field views-field-counter">
                  5 </td>
                  <td class="views-field views-field-category">
                  Withdrawal </td>
                  <td class="views-field views-field-name">
                  Business Director <span class="label bg-info username-hide-show"><a href="/user/3" title="View user profile." class="username">business.admin</a></span> <span class="label1 label-primary">3</span> </td>
                  <td class="views-field views-field-php">
                  <span class="small text-primary"></span> 333.00 USD <span class="label2 bg-danger"> Debited </span> </td>
                  <td class="views-field views-field-created">
                  09/28/2017 </td>
                  </tr>
                  </tbody>
                  </table>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div> 
                  </div>
            </tab>
            <tab heading="This Month">
              <div class="region region-content">
                  <div id="block-system-main" class="block block-system clearfix">
                  <div class="view view-e-wallet-transactions-monthly view-id-e_wallet_transactions_monthly view-display-id-page_2 view-dom-id-087cc9c84d7bfd86d12a22d5260fb2b5">
                  <div class="view-filters">
                  <form action="/afl/expenses-history/month" method="get" id="views-exposed-form-e-wallet-transactions-monthly-page-2" accept-charset="UTF-8"><div class="from-panel"><div class="views-exposed-form form-inline">
                  <div class="views-exposed-widgets clearfix">
                  <div id="edit-associated-user-id-wrapper" class="views-exposed-widget views-widget-filter-associated_user_id form-group">
                  <label for="edit-associated-user-id">
                  Transaction id</label>
                  <div class="views-widget">
                  <div class="form-item clearfix form-type-textfield form-item-associated-user-id form-group">
                  <input type="text" id="edit-associated-user-id" name="associated_user_id" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
                  </div>
                  </div>
                  </div>
                  <div id="edit-category-wrapper" class="views-exposed-widget views-widget-filter-category form-group">
                  <label for="edit-category">
                  Transaction type </label>
                  <div class="views-widget">
                  <div class="form-item clearfix form-type-select form-item-category form-group">
                  <select id="edit-category" name="category" class="form-select form-control">
                    <option value="All" selected="selected">- Any -</option>
                    <option value="ENROLMENT FEE">Enrolment Fee</option>
                    <option value="LEVEL COMMISSIONS">Level Commissions</option>
                    <option value="SPONSOR BONUS">Sponsor Bonus</option>
                    <option value="WITHDRAWAL">Withdrawal</option>
                    <option value="SALES COMMISSION">Sales Commission</option>
                    <option value="FUND DEPOSIT">Fund Deposit</option>
                    <option value="COMMISSION PAYOUT">Commission Payout</option>
                    <!-- <option value="COMMISSION PAYOUT CHARGES">Commission Payout Charges</option>
                    <option value="WITHDRAWAL CANCELLATION">Withdrawal Cancellation</option> -->
                    <option value="E-WALLET FUND TRANSAFER">E-wallet Fund Transfer</option>
                    <option value="E-WALLET PURCHASE">E-wallet Purchase</option>
                    <option value="PAYOUT REVERTED">Payout Cancelled</option>
                    <option value="TEAM COMMISSION">Team Commission</option></select>
                  </div>
                  </div>
                  </div>
                  <div class="views-exposed-widget views-submit-button form-group m-t-22">
                  <input type="submit" id="edit-submit-e-wallet-transactions-monthly" name="" value="Search" class="form-submit btn btn-default btn-primary" /> <input type="submit" id="edit-reset" name="op" value="Clear" class="form-submit btn btn-default btn-primary" />
                  <input type="submit" id="edit-reset" name="op" value="Export to PDF" class="form-submit btn btn-default btn-primary" />
                </div>
                  </div>
                </div>
                </div>
              </form> </div>
              <div class="view-content">
                <div class="panel panel-default">
                <div class="table-responsive">
                <table class="views-table cols-5 table">
                <thead>
                <tr>
                 <th class="views-field views-field-counter">
                # </th>
                <th class="views-field views-field-category">
                Source</th>
                <th class="views-field views-field-name">
                Details of Transaction </th>
                <th class="views-field views-field-php">
                Amount </th>
                <th class="views-field views-field-created">
                Transaction Date </th>
                <th class="views-field views-field-created">
                  Actions </th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd views-row-first">
                <td class="views-field views-field-counter">
                1 </td>
                <td class="views-field views-field-category">
                E-Pin Generation </td>
                <td class="views-field views-field-name">
                Business Director <span class="label bg-info username-hide-show"><a href="/user/3" title="View user profile." class="username">business.admin</a></span> <span class="label1 label-primary">3</span> </td>
                <td class="views-field views-field-php">
                <span class="small text-primary"></span> 1,057.87 USD <span class="label2 bg-danger"> Debited </span> </td>
                <td class="views-field views-field-created">
                06/07/2020 </td>
                <td>
                                              
                  <a href="#" data-lity="">
                      <i class="fa fa-eye fa-1x" style="font-size: 14px; padding: 05px;color: #102f66;"></i>
                  </a>
                  <a>
                      <i class="fa fa-edit fa-1x" style="font-size: 14px; padding: 05px;color: #102f66;"></i>
                  </a>
                  <a >
                      <i class="fa fa-trash fa-1x" style="font-size: 14px;padding: 05px;color: #102f66;" ></i>
                  </a>
                  <a >
                    <i class="fa fa-print fa-1x" style="font-size: 14px;padding: 05px;color: #102f66;" ></i>
                </a>
              </td>
                </tr>
                <tr class="even">
                <td class="views-field views-field-counter">
                2 </td>
                <td class="views-field views-field-category">
                E-Pin Generation </td>
                <td class="views-field views-field-name">
                Business Director <span class="label bg-info username-hide-show"><a href="/user/3" title="View user profile." class="username">business.admin</a></span> <span class="label1 label-primary">3</span> </td>
                <td class="views-field views-field-php">
                <span class="small text-primary"></span> 110.00 USD <span class="label2 bg-danger"> Debited </span> </td>
                <td class="views-field views-field-created">
                02/16/2019 </td>
                </tr>
                <tr class="odd">
                <td class="views-field views-field-counter">
                3 </td>
                <td class="views-field views-field-category">
                E-Pin Generation </td>
                <td class="views-field views-field-name">
                Business Director <span class="label bg-info username-hide-show"><a href="/user/3" title="View user profile." class="username">business.admin</a></span> <span class="label1 label-primary">3</span> </td>
                <td class="views-field views-field-php">
                <span class="small text-primary"></span> 165.00 USD <span class="label2 bg-danger"> Debited </span> </td>
                <td class="views-field views-field-created">
                01/29/2019 </td>
                </tr>
                <tr class="even">
                <td class="views-field views-field-counter">
                4 </td>
                <td class="views-field views-field-category">
                E-Pin Generation </td>
                <td class="views-field views-field-name">
                Business Director <span class="label bg-info username-hide-show"><a href="/user/3" title="View user profile." class="username">business.admin</a></span> <span class="label1 label-primary">3</span> </td>
                <td class="views-field views-field-php">
                <span class="small text-primary"></span> 110.00 USD <span class="label2 bg-danger"> Debited </span> </td>
                <td class="views-field views-field-created">
                01/25/2019 </td>
                </tr>
                <tr class="odd views-row-last">
                <td class="views-field views-field-counter">
                5 </td>
                <td class="views-field views-field-category">
                Withdrawal </td>
                <td class="views-field views-field-name">
                Business Director <span class="label bg-info username-hide-show"><a href="/user/3" title="View user profile." class="username">business.admin</a></span> <span class="label1 label-primary">3</span> </td>
                <td class="views-field views-field-php">
                <span class="small text-primary"></span> 333.00 USD <span class="label2 bg-danger"> Debited </span> </td>
                <td class="views-field views-field-created">
                09/28/2017 </td>
                </tr>
                </tbody>
                </table>
                </div>
                </div>
                </div>
              </div>
              </div> 
              </div>
            </tab>
            <tab heading="This Year">

              <div class="region region-content">
                <div id="block-system-main" class="block block-system clearfix">
                <div class="view view-e-wallet-transactions-monthly view-id-e_wallet_transactions_monthly view-display-id-page_2 view-dom-id-087cc9c84d7bfd86d12a22d5260fb2b5">
                <div class="view-filters">
                <form action="/afl/expenses-history/month" method="get" id="views-exposed-form-e-wallet-transactions-monthly-page-2" accept-charset="UTF-8"><div class="from-panel"><div class="views-exposed-form form-inline">
                <div class="views-exposed-widgets clearfix">
                <div id="edit-associated-user-id-wrapper" class="views-exposed-widget views-widget-filter-associated_user_id form-group">
                <label for="edit-associated-user-id">
                Transaction id</label>
                <div class="views-widget">
                <div class="form-item clearfix form-type-textfield form-item-associated-user-id form-group">
                <input type="text" id="edit-associated-user-id" name="associated_user_id" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
                </div>
                </div>
                </div>
                <div id="edit-category-wrapper" class="views-exposed-widget views-widget-filter-category form-group">
                <label for="edit-category">
                Transaction type </label>
                <div class="views-widget">
                <div class="form-item clearfix form-type-select form-item-category form-group">
                <select id="edit-category" name="category" class="form-select form-control">
                  <option value="All" selected="selected">- Any -</option>
                  <option value="ENROLMENT FEE">Enrolment Fee</option>
                  <option value="LEVEL COMMISSIONS">Level Commissions</option>
                  <option value="SPONSOR BONUS">Sponsor Bonus</option>
                  <option value="WITHDRAWAL">Withdrawal</option>
                  <option value="SALES COMMISSION">Sales Commission</option>
                  <option value="FUND DEPOSIT">Fund Deposit</option>
                  <option value="COMMISSION PAYOUT">Commission Payout</option>
                  <!-- <option value="COMMISSION PAYOUT CHARGES">Commission Payout Charges</option>
                  <option value="WITHDRAWAL CANCELLATION">Withdrawal Cancellation</option> -->
                  <option value="E-WALLET FUND TRANSAFER">E-wallet Fund Transfer</option>
                  <option value="E-WALLET PURCHASE">E-wallet Purchase</option>
                  <option value="PAYOUT REVERTED">Payout Cancelled</option>
                  <option value="TEAM COMMISSION">Team Commission</option></select>
                </div>
                </div>
                </div>
                <div class="views-exposed-widget views-submit-button form-group m-t-22">
                <input type="submit" id="edit-submit-e-wallet-transactions-monthly" name="" value="Search" class="form-submit btn btn-default btn-primary" /> <input type="submit" id="edit-reset" name="op" value="Clear" class="form-submit btn btn-default btn-primary" /> 
                <input type="submit" id="edit-reset" name="op" value="Export to PDF" class="form-submit btn btn-default btn-primary" />
              </div>
                </div>
              </div>
              </div>
            </form> </div>
            <div class="view-content">
              <div class="panel panel-default">
              <div class="table-responsive">
              <table class="views-table cols-5 table">
              <thead>
              <tr>
               <th class="views-field views-field-counter">
              # </th>
              <th class="views-field views-field-category">
              Source</th>
              <th class="views-field views-field-name">
              Details of Transaction </th>
              <th class="views-field views-field-php">
              Amount </th>
              <th class="views-field views-field-created">
              Transaction Date </th>
              <th class="views-field views-field-created">
                Actions </th>
              </tr>
              </thead>
              <tbody>
              <tr class="odd views-row-first">
              <td class="views-field views-field-counter">
              1 </td>
              <td class="views-field views-field-category">
              E-Pin Generation </td>
              <td class="views-field views-field-name">
              Business Director <span class="label bg-info username-hide-show"><a href="/user/3" title="View user profile." class="username">business.admin</a></span> <span class="label1 label-primary">3</span> </td>
              <td class="views-field views-field-php">
              <span class="small text-primary"></span> 1,057.87 USD <span class="label2 bg-danger"> Debited </span> </td>
              <td class="views-field views-field-created">
              06/07/2020 </td>
              <td>
                                            
                <a href="#" data-lity="">
                    <i class="fa fa-eye fa-1x" style="font-size: 14px; padding: 05px;color: #102f66;"></i>
                </a>
                <a>
                    <i class="fa fa-edit fa-1x" style="font-size: 14px; padding: 05px;color: #102f66;"></i>
                </a>
                <a >
                    <i class="fa fa-trash fa-1x" style="font-size: 14px;padding: 05px;color: #102f66;" ></i>
                </a>
                <a >
                  <i class="fa fa-print fa-1x" style="font-size: 14px;padding: 05px;color: #102f66;" ></i>
              </a>
            </td>
              </tr>
              <tr class="even">
              <td class="views-field views-field-counter">
              2 </td>
              <td class="views-field views-field-category">
              E-Pin Generation </td>
              <td class="views-field views-field-name">
              Business Director <span class="label bg-info username-hide-show"><a href="/user/3" title="View user profile." class="username">business.admin</a></span> <span class="label1 label-primary">3</span> </td>
              <td class="views-field views-field-php">
              <span class="small text-primary"></span> 110.00 USD <span class="label2 bg-danger"> Debited </span> </td>
              <td class="views-field views-field-created">
              02/16/2019 </td>
              </tr>
              <tr class="odd">
              <td class="views-field views-field-counter">
              3 </td>
              <td class="views-field views-field-category">
              E-Pin Generation </td>
              <td class="views-field views-field-name">
              Business Director <span class="label bg-info username-hide-show"><a href="/user/3" title="View user profile." class="username">business.admin</a></span> <span class="label1 label-primary">3</span> </td>
              <td class="views-field views-field-php">
              <span class="small text-primary"></span> 165.00 USD <span class="label2 bg-danger"> Debited </span> </td>
              <td class="views-field views-field-created">
              01/29/2019 </td>
              </tr>
              <tr class="even">
              <td class="views-field views-field-counter">
              4 </td>
              <td class="views-field views-field-category">
              E-Pin Generation </td>
              <td class="views-field views-field-name">
              Business Director <span class="label bg-info username-hide-show"><a href="/user/3" title="View user profile." class="username">business.admin</a></span> <span class="label1 label-primary">3</span> </td>
              <td class="views-field views-field-php">
              <span class="small text-primary"></span> 110.00 USD <span class="label2 bg-danger"> Debited </span> </td>
              <td class="views-field views-field-created">
              01/25/2019 </td>
              </tr>
              <tr class="odd views-row-last">
              <td class="views-field views-field-counter">
              5 </td>
              <td class="views-field views-field-category">
              Withdrawal </td>
              <td class="views-field views-field-name">
              Business Director <span class="label bg-info username-hide-show"><a href="/user/3" title="View user profile." class="username">business.admin</a></span> <span class="label1 label-primary">3</span> </td>
              <td class="views-field views-field-php">
              <span class="small text-primary"></span> 333.00 USD <span class="label2 bg-danger"> Debited </span> </td>
              <td class="views-field views-field-created">
              09/28/2017 </td>
              </tr>
              </tbody>
              </table>
              </div>
              </div>
              </div>
            </div>
            </div> 
            </div>
                

            </tab>
            
          </tabset>
        </div> 
  </div>
  </div>
