.app-content-body {
    float: left;
    width: 100%;
    padding-bottom: 50px;
}
.hbox {
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;
}
.hbox .col {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
}
.bg-light.lter, .bg-light .lter {
    background-color: #f6f8f8;
}
.b-b {
    border-bottom: 1px solid #dee5e7;
}
.wrapper-md {
    padding: 20px;
}
.bg-light {
    color: #58666e;
    background-color: #edf1f2;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.m-n {
    margin: 0 !important;
}
form.node-form, form .from-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #dee5e7;
    border-radius: 2px;
 
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-color: #dee5e7;
    padding: 15px;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
fieldset legend {
    font-size: 20px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    border-bottom: 1px solid #dee5e7;
    padding-bottom: 12px;
}
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
   
    border: 0;
}
.form-group {
    margin-bottom: 15px;
}


label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}
.form-control, .form-control:focus {
    
    box-shadow: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border-color: #cfdadd;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
button, input, select, textarea {
    font-family: inherit;
    font: inherit;
    
    margin: 0;
}
.form-actions .btn, form .from-panel .btn {
    margin-right: 4px;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn-primary {
    color: #ffffff !important;
    background-color: darkgreen;
    border-color: #7266ba;
}
.btn {
    font-weight: 500;
    border-radius: 2px;
    outline: 0!important;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    
    
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
   
}