<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
    
    <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-sm-12 col-xs-12">
    <h1 class="m-n h3">Transaction Authorization</h1>
    </div>
    
    </div>
    </div>
    
    
    <div class="wrapper-md ">
    
    
    
    
    <div class="row">
    <div class="col-md-12">
    <div class="region region-content">
    <div id="block-system-main" class="block block-system clearfix">
    <form action="/afl/ewallet/transaction-authorization" method="post" id="afl-transaction-authorization-form" accept-charset="UTF-8"><div class="from-panel"><div id="checkboxes-div"><fieldset class="form-wrapper" id="edit-transaction-authorization-form"><legend><span class="fieldset-legend">Configure Authorization Password</span></legend><div class="fieldset-wrapper"><div class="form-item clearfix form-type-password form-item-existing-password form-group">
    <label for="edit-existing-password">Existing Password </label>
    <input type="password" id="edit-existing-password" name="existing_password" size="10" maxlength="128" class="form-text form-control" />
    </div>
    <div class="form-item clearfix form-type-password form-item-new-password form-group">
    <label for="edit-new-password">New Password </label>
    <input type="password" id="edit-new-password" name="new_password" size="10" maxlength="128" class="form-text form-control" />
    </div>
    <div class="form-item clearfix form-type-password form-item-confirm-password form-group">
    <label for="edit-confirm-password">Confirm Password </label>
    <input type="password" id="edit-confirm-password" name="confirm_password" size="10" maxlength="128" class="form-text form-control" />
    </div>
    </div></fieldset>
    </div><input type="submit" id="edit-submit" name="op" value="Save Configurations" class="form-submit btn btn-default btn-primary" /><input type="submit" id="edit-forgot-password" name="op" value="Forgot Password" class="form-submit btn btn-default btn-primary" /><input type="hidden" name="form_build_id" value="form-b99623FVIPrb4zWaZEhYC1nLFXaaPO6twBaQ3BbhpI4" />
    <input type="hidden" name="form_token" value="maWygHjXjqQCvyfA0GvtXCaXWiDYlwkyTwQoBDo971o" />
    <input type="hidden" name="form_id" value="afl_transaction_authorization_form" />
    </div></form>
    </div> 
    </div>
    </div>
    </div>
