<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
    
    <!-- <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-sm-12 col-xs-12">
    <h1 class="m-n h3">E-pin Configuration</h1>
    </div>
    
    </div>
    </div> -->
    
    
    <div class="wrapper-md ">
    
    
    
    
    
    <div class="row">
    <div class="col-md-12">
    <div class="region region-content">
    <div id="block-system-main" class="block block-system clearfix">
    <form action="/afl-admin/epin-configuration" method="post" id="e-pin-form" accept-charset="UTF-8"><div class="from-panel"><div id="checkboxes-div"><fieldset class="form-wrapper" id="edit-e-pin-configuration-form"><legend><span class="fieldset-legend">Configuration for E-pin Generation</span></legend><div class="fieldset-wrapper"><div class="form-item clearfix form-type-textfield form-item-minimum-amount form-group">
    <label for="edit-minimum-amount">Minimum amount of denomination of E-pin </label>
    <div class="input-group m-b"><span class="input-group-addon">$</span><input groupfields="$" type="text" id="edit-minimum-amount" name="minimum_amount" value="100" size="10" maxlength="128" class="form-text form-control input-lg-3" /></div>
    </div>
    <div class="form-item clearfix form-type-textfield form-item-maximum-amount form-group">
    <label for="edit-maximum-amount">Maximum amount of denomination of E-pin </label>
    <div class="input-group m-b"><span class="input-group-addon">$</span><input groupfields="$" type="text" id="edit-maximum-amount" name="maximum_amount" value="2000" size="10" maxlength="128" class="form-text form-control input-lg-3" /></div>
    </div>
    <div class="form-item clearfix form-type-textfield form-item-members-active-epins form-group" data-toggle="tooltip" title="Please place  -1  if it is unlimited.">
    <label for="edit-members-active-epins">Maximum active E-pin per member </label>
    <input type="text" id="edit-members-active-epins" name="members_active_epins" value="2" size="10" maxlength="128" class="form-text form-control input-lg-3" />
    </div>
    <div class="form-item clearfix form-type-textfield form-item-generation-fee form-group" data-toggle="tooltip" title="Please place a (%) if it is a percentage value. Example: 25%, 30.5%, 2500, etc.. Mention zero if no charges are applied">
    <label for="edit-generation-fee">The E-pin Geneation fee/ charge </label>
    <div class="input-group m-b"><span class="input-group-addon">$</span><input groupfields="$" class="percentage-n-amount form-text form-control input-lg-3" type="text" id="edit-generation-fee" name="generation_fee" value="10%" size="10" maxlength="128" /></div>
    </div>
    <div class="form-item clearfix form-type-textfield form-item-epin-length form-group">
    <label for="edit-epin-length">Length of E-pin </label>
    <input type="text" id="edit-epin-length" name="epin_length" value="9" size="10" maxlength="128" class="form-text form-control input-lg-3" />
    </div>
    </div></fieldset>
    </div><input type="submit" id="edit-submit" name="op" value="Save Configurations" class="form-submit btn btn-default btn-primary" /><input type="hidden" name="form_build_id" value="form-S2fjASgJdYHLobbIXr_Lw9QH4L_aBfhy7NahfD9Jpgg" />
    <input type="hidden" name="form_token" value="vsapjJvkdSJeh8zj5jwFT5SdfEnJ1pfN_whS_6AiE4E" />
    <input type="hidden" name="form_id" value="e_pin_form" />
    </div></form>
    </div> 
    </div>
    </div>
    </div>
    
