<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
    
    <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-sm-12 col-xs-12">
    <h1 class="m-n h3">Member Activity Logs</h1>
    <small class="text-muted"></small>
    </div>
    
    </div>
    </div>
    
    
    <div class="wrapper-md user-profile-wrapper">
    
    
    
    <div class="row">
    <div class="col-md-12">
    <div class="region region-content">
    <div id="block-system-main" class="block block-system clearfix">
    <div class="view view-user-activity-logs view-id-user_activity_logs view-display-id-page_1 view-dom-id-63d9cb9776d9694042d36f050d7bc4ea">
    <div class="view-filters">
    <form action="/afl-admin/user-activity-logs" method="get" id="views-exposed-form-user-activity-logs-page-1" accept-charset="UTF-8"><div class="from-panel"><div class="views-exposed-form form-inline">
    <div class="views-exposed-widgets clearfix">
    <div id="edit-uid-wrapper" class="views-exposed-widget views-widget-filter-uid form-group">
    <label for="edit-uid">
    User Name </label>
    <div class="views-widget">
    <div class="form-item form-autocomplete clearfix form-type-textfield form-item-uid form-group" data-toggle="tooltip" title="Enter a comma separated list of user names.">
    <input type="text" id="edit-uid" name="uid" value="" size="60" maxlength="128" class="form-text form-control input-lg-3 form-autocomplete" /><span class="fa fa-refresh form-control-feedback" aria-hidden="true"></span><input type="hidden" id="edit-uid-autocomplete" value="https://matrix.epixelmlmsoftware.com/admin/views/ajax/autocomplete/user" disabled="disabled" class="autocomplete" />
    </div>
    </div>
    </div>
    <div id="edit-uid-1-wrapper" class="views-exposed-widget views-widget-filter-uid_1 form-group">
    <label for="edit-uid-1">
    Assoc User Name </label>
    <div class="views-widget">
    <div class="form-item form-autocomplete clearfix form-type-textfield form-item-uid-1 form-group" data-toggle="tooltip" title="Enter a comma separated list of user names.">
    <input type="text" id="edit-uid-1" name="uid_1" value="" size="60" maxlength="128" class="form-text form-control input-lg-3 form-autocomplete" /><span class="fa fa-refresh form-control-feedback" aria-hidden="true"></span><input type="hidden" id="edit-uid-1-autocomplete" value="https://matrix.epixelmlmsoftware.com/admin/views/ajax/autocomplete/user" disabled="disabled" class="autocomplete" />
    </div>
    </div>
    </div>
    <div id="edit-category-wrapper" class="views-exposed-widget views-widget-filter-category form-group">
    <label for="edit-category">
    Category </label>
    <div class="views-widget">
    <div class="form-item clearfix form-type-select form-item-category form-group">
    <select id="edit-category" name="category" class="form-select form-control"><option value="All" selected="selected">- Any -</option><option value="user_profile_email_change">Profile Email Change Request</option><option value="user_profile_password_change">Profile Password Change</option><option value="wallet_change">Withdrawal Wallet Address Change</option><option value="change_transaction_password">Transaction Password Change</option><option value="bitcoin_wallet_change">Bitcoin Wallet Address Change</option><option value="token_wallet_change">Token Wallet Address Change</option><option value="bitcoin_withdrawal">Bitcoin Withdrawal</option></select>
    </div>
    </div>
    </div>
    <div id="edit-status-wrapper" class="views-exposed-widget views-widget-filter-status form-group">
    <label for="edit-status">
    Log Status </label>
    <div class="views-widget">
    <div class="form-item clearfix form-type-select form-item-status form-group">
    <select id="edit-status" name="status" class="form-select form-control"><option value="All" selected="selected">- Any -</option><option value="0">Requested</option><option value="1">Confirmed</option><option value="2">Failed</option></select>
    </div>
    </div>
    </div>
    <div id="edit-ip-wrapper" class="views-exposed-widget views-widget-filter-ip form-group">
    <label for="edit-ip">
    Access IP </label>
    <div class="views-widget">
    <div class="form-item clearfix form-type-textfield form-item-ip form-group">
    <input type="text" id="edit-ip" name="ip" value="" size="30" maxlength="128" class="form-text form-control input-lg-3" />
    </div>
    </div>
    </div>
    <div class="views-exposed-widget views-submit-button form-group m-t-22">
    <input type="submit" id="edit-submit-user-activity-logs" name="" value="Apply" class="form-submit btn btn-default btn-info" /> <input type="submit" id="edit-reset" name="op" value="Clear" class="form-submit btn btn-default btn-primary" /> </div>
    </div>
    </div>
    </div></form> </div>
    <div class="view-content">
    <div class="panel panel-default">
    <div class="table-responsive">
    <table class="views-table cols-8 table">
    <thead>
    <tr>
    <th class="views-field views-field-counter">
    # </th>
    <th class="views-field views-field-name">
    User Name </th>
    <th class="views-field views-field-category">
    Category </th>
    <th class="views-field views-field-status">
    Log Status </th>
    <th class="views-field views-field-title">
    Activity Title </th>
    <th class="views-field views-field-created">
    Activity Date </th>
    <th class="views-field views-field-ip">
    Access IP </th>
    <th class="views-field views-field-country">
    Access Country </th>
    </tr>
    </thead>
    <tbody>
  
    </tbody>
    </table>
    </div>
    </div>
    </div>
</div>
    </div>
    </div> 
    </div>
    </div>
    </div>
